<div class="change-password__container">
  <h2 class="title">Set New Password</h2>
  <form class="change-password__form" [formGroup]="changePasswordFormGroup" (ngSubmit)="changePassword()" >
    <div class="form-group">
      <label class="font-weight-normal" for="loginInput">Username:</label>
      <input type="text" class="form-control"
             formControlName="username" id="loginInput" placeholder="Username">
      <div class="center__alert" *ngIf="(changePasswordFormGroup.controls['username'].invalid &&
      changePasswordFormGroup.controls['username'].touched) || changePasswordFormGroup.controls['username'].dirty">
        <small *ngIf="changePasswordFormGroup.controls['username'].errors?.required" class="text-danger">Username is required</small>
        <small *ngIf="changePasswordFormGroup.controls['username'].errors?.pattern" class="text-danger">Username is empty</small>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-normal" for="secondPassword">Password:</label>
      <input type="password" class="form-control"
             id="secondPassword" placeholder="Password" formControlName="password"
             (input)="validationPasswordMessage = checkPasswordValidation(changePasswordFormGroup.controls['password'].value)"
             autocomplete="on"
      >
      <div class="center__alert absolute__position" *ngIf="(changePasswordFormGroup.controls['password'].invalid &&
        changePasswordFormGroup.controls['password'].touched) || changePasswordFormGroup.controls['password'].dirty">
        <small *ngIf="changePasswordFormGroup.controls['password'].errors?.required" class="text-danger">Password is required</small>
        <small *ngIf="changePasswordFormGroup.controls['password'].errors?.pattern" class="text-danger">{{ validationPasswordMessage }}</small>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-normal" for="password">Re Password:</label>
      <input type="password" class="form-control"
             id="password" placeholder="RePassword" formControlName="secondPassword"
             (input)="validationPasswordMessage = checkPasswordValidation(changePasswordFormGroup.controls['secondPassword'].value)"
             autocomplete="on"
      >
      <div class="center__alert absolute__position" *ngIf="(changePasswordFormGroup.controls['secondPassword'].invalid &&
        changePasswordFormGroup.controls['secondPassword'].touched) || changePasswordFormGroup.controls['secondPassword'].dirty">
        <small *ngIf="changePasswordFormGroup.controls['secondPassword'].errors?.required" class="text-danger">Password is required</small>
      </div>
    </div>
    <button type="submit" class="button-login-register" [disabled]="!changePasswordFormGroup.valid" [style.cursor]="!changePasswordFormGroup.valid ? 'not-allowed' : 'pointer'">Submit</button>
  </form>
  <svg [routerLink]="['/login/buttons']" class="svg__arrow" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g transform="rotate(180 12 12)"><path fill="white" d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8l-8-8z"/></g></svg>
  <ul class="squares">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
