.change-password__container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: .1rem;
  width: 100%;
  height: 100%;
  background-color: rgb(88,88,88, 0.55);
  backdrop-filter: blur(4px);
  z-index: 100;
}
.title{
  text-align: center;
  font-size: 1.14rem;
  letter-spacing: 2px;
  color: var(--text-color);
}
.change-password__form{
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  flex: 0;
}
label{
  font-size: .775rem!important;
  margin-bottom: .36rem!important;
  color: var(--text-color);
}
.form-control, input{
  z-index: 101;
  width: 88px!important;
  height: 22px!important;
  font-size: .575rem!important;
  border-radius: .7rem!important;
}
.form-group{
  z-index: 101;
  margin-bottom: .83rem!important;
}
.svg__arrow{
  position: absolute;
  bottom: 25px;
  left: 15px;
  width: 32px;
  height: 32px;
  fill: white;
  z-index: 101;
  cursor: pointer;
}
.center__alert{
  display: flex;
  justify-content: center;
  margin-top: .2rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
/*Squares*/
.squares{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.squares li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: moves-squares-animation 25s linear infinite;
  bottom: -150px;
  z-index: 100;
}
.squares li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.squares li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.squares li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.squares li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.squares li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.squares li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.squares li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.squares li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
@keyframes moves-squares-animation {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .change-password__container{
    row-gap: 0;
  }
  .title{
    font-size: 1rem;
    letter-spacing: 2px;
  }
  label{
    font-size: .7rem!important;
    margin-bottom: .29rem!important;
  }
  .form-group{
    margin-bottom: .76rem!important;
  }
  .form-control, input{
    width: 83px!important;
    height: 21px!important;
    font-size: .525rem!important;
  }
  .svg__arrow{
    width: 30px;
    height: 30px;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .change-password__container{
    row-gap: .2rem;
  }
  .title{
    font-size: 1.28rem;
    letter-spacing: 2px;
  }
  label {
    font-size: .85rem!important;
    margin-bottom: .43rem!important;
  }
  .form-group{
    margin-bottom: .9rem!important;
  }
  .form-control, input{
    width: 95px!important;
    height: 24px!important;
    font-size: .6rem!important;
  }
  .svg__arrow{
    width: 34px;
    height: 34px;
    bottom: 28px;
    left: 18px;
  }
}
@media screen and (min-width: 767px) {
  .change-password__container{
    row-gap: .3rem;
  }
  .title{
    font-size: 1.46rem;
  }
  label {
    font-size: .875rem!important;
    margin-bottom: .5rem!important;
  }
  .form-group{
    margin-bottom: .97rem!important;
  }
  .form-control, input{
    width: 100px!important;
    height: 25px!important;
    font-size: .625rem!important;
  }
  .svg__arrow{
    width: 36px;
    height: 36px;
    bottom: 30px;
    left: 20px;
  }
}
/* For large devices */
@media screen and (min-width: 1040px) {
  .change-password__container{
    row-gap: .32rem;
  }
  .title{
    font-size: 1.58rem;
    letter-spacing: 3px;
  }
  label {
    font-size: .965rem!important;
    margin-bottom: .62rem!important;
  }
  .form-group{
    margin-bottom: 1.07rem!important;
  }
  .form-control, input{
    width: 105px!important;
    height: 26px!important;
    font-size: .65rem!important;
  }
  .svg__arrow{
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 1600px) {
  .change-password__container{
    row-gap: .47rem;
  }
  .title{
    font-size: 1.65rem;
  }
  label{
    font-size: .985rem!important;
    margin-bottom: .64rem!important;
  }
  .form-group{
    margin-bottom: 1.17rem!important;
  }
  .form-control, input{
    width: 110px!important;
    height: 27px!important;
    font-size: .675rem!important;
  }
  .svg__arrow{
    width: 40px;
    height: 40px;
  }
}
