<article class="article center__flex-box">
  <div class="parameter__wind">
    <h3 class="title">Wins & Pressure</h3>
    <div class="windmill">
      <img class="windmill__img" [src]="windmillIconPath">
    </div>
    <div class="wind__box first__box">
      <p>Wind<br>11 km/h W</p>
      <svg class="wind__icon" viewBox="0 0 100 100" y="0" x="0" xmlns="http://www.w3.org/2000/svg" style="background-size:initial;background-repeat-y:initial;background-repeat-x:initial;background-position-y:initial;background-position-x:initial;background-origin:initial;background-color:initial;background-clip:initial;background-attachment:initial;animation-play-state:paused" ><g class="ldl-scale" style="transform-origin:50% 50%;transform:rotate(0deg) scale(0.8, 0.8);animation-play-state:paused" ><path stroke-miterlimit="10" stroke-linecap="round" stroke-width="4" stroke="#77a4bd" fill="none" d="M8.5 51.5h62.4c14.8 0 20.6-7.9 20.6-17.5S83.6 16.4 74 16.4s-17.5 7.9-17.5 17.5" style="stroke:rgb(253, 253, 254);animation-play-state:paused" ></path>
      <path stroke-miterlimit="10" stroke-linecap="round" stroke-width="4" stroke="#a0c8d7" fill="none" d="M8.5 44.3h25.1c6.7 0 9.3-3.3 9.3-7.3s-3.3-7.3-7.3-7.3c-2.6 0-4.9 1.4-6.2 3.5" style="stroke:rgb(121, 207, 245);animation-play-state:paused" ></path>
      <path stroke-miterlimit="10" stroke-linecap="round" stroke-width="4" stroke="#a0c8d7" fill="none" d="M8.5 59h55.2c12 0 15.4 5.5 15.4 12.3s-5.5 12.3-12.3 12.3-12.3-5.5-12.3-12.3" style="stroke:rgb(121, 207, 245);animation-play-state:paused" ></path>
      </g></svg>
    </div>
    <div class="wind__box second__box">
      <svg class="wind__icon" viewBox="0 0 100 100" y="0" x="0" xmlns="http://www.w3.org/2000/svg" style="background-size:initial;background-repeat-y:initial;background-repeat-x:initial;background-position-y:initial;background-position-x:initial;background-origin:initial;background-color:initial;background-clip:initial;background-attachment:initial;animation-play-state:paused" ><g class="ldl-scale" style="transform-origin:50% 50%;transform:rotate(0deg) scale(0.8, 0.8);animation-play-state:paused" ><path stroke-miterlimit="10" stroke-linecap="round" stroke-width="4" stroke="#77a4bd" fill="none" d="M8.5 51.5h62.4c14.8 0 20.6-7.9 20.6-17.5S83.6 16.4 74 16.4s-17.5 7.9-17.5 17.5" style="stroke:rgb(253, 253, 254);animation-play-state:paused" ></path>
        <path stroke-miterlimit="10" stroke-linecap="round" stroke-width="4" stroke="#a0c8d7" fill="none" d="M8.5 44.3h25.1c6.7 0 9.3-3.3 9.3-7.3s-3.3-7.3-7.3-7.3c-2.6 0-4.9 1.4-6.2 3.5" style="stroke:rgb(121, 207, 245);animation-play-state:paused" ></path>
        <path stroke-miterlimit="10" stroke-linecap="round" stroke-width="4" stroke="#a0c8d7" fill="none" d="M8.5 59h55.2c12 0 15.4 5.5 15.4 12.3s-5.5 12.3-12.3 12.3-12.3-5.5-12.3-12.3" style="stroke:rgb(121, 207, 245);animation-play-state:paused" ></path>
      </g></svg>
      <p>Barometer<br>1,017 mBar</p>
    </div>
  </div>
</article>

