/*----------------------------------------WIDGET #1-----------------------------------*/
.parameter__title
{
  border-bottom: 1px solid white;
  color: var(--text-color);
  font-weight: var(--font-super-light);
  letter-spacing: 1px;

}
.parameter__title h3
{
  margin-bottom: .75rem;
  font-size: 1.125rem;
}
.parameter__wind
{
  width: 314px;
  height: 480px;
  background-color: rgb(88,88,88, 0.35);
  backdrop-filter: blur(2px);
  padding: 1.6rem 1.6rem 0 1.6rem;

}
.parameter__wind-container
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 3rem;
  padding-top: 1.5rem;
  width: 100%;
  flex-direction: column;

}
.windmill
{

  width: 125px;
  height: 130px;
}
.wind__box{
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
}
.wind__speed-bar
{
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  font-weight: var(--font-medium);
}
.wind__speed-img
{
  height: 55px;
}
.wind__speed-bar-params{
  font-size: .95rem;
}
.wind__speed-bar-params p
{
  font-size: 1.2rem;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .parameter__title h3{
    font-size: 1.03rem;
  }
  .parameter__wind{
    width:264px;
    height: 470px;
    padding: 1.6rem;
  }

  .parameter__wind-container{
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-top: 0;
    margin-top: 2.5rem;
    flex-direction: column;
    height: auto;
  }
  .windmill{
    width: 110px;
    height: 120px;
  }
  .wind__box{
    display: flex;
    row-gap: 4rem;
    flex-direction: column;
  }
  .wind__speed-bar
  {
    column-gap: 2rem;
    justify-content: center;
    flex-direction: row;
    font-weight: var(--font-light);
  }
  .wind__speed-bar-params{
    font-size: .9rem;
  }
  .wind__speed-bar-params p
  {
    font-size: 1.15rem;
  }
  .wind__speed-img{
    width: 40px;
    height: 40px;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .parameter__title h3{
    font-size: 1.215rem;
  }
  .parameter__wind-container{
    row-gap: 3.5rem;
  }
  .parameter__wind{
    width: 365px;
    height: 530px;
  }

  .windmill{
    width: 135px;
    height: 155px;
  }

  .wind__speed-img{
    height: 55px;
  }
  .wind__speed-bar-params{
    font-size: 1rem;
  }
  .wind__speed-bar-params p
  {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 767px){
  .parameter__title h3{
    font-size: 1.325rem;
  }
  .parameter__wind-container{
    row-gap: 4rem;
  }
  .parameter__wind{
    width: 396px;
    height: 570px;
  }

  .windmill{
    width: 157px;
    height: 157px;
  }

  .wind__speed-bar-params{
    font-size: 1.175rem;
  }
  .wind__speed-bar-params p
  {
    font-size: 1.45rem;
  }
  .wind__speed-img{
    height: 60px;
  }
}
@media screen and (min-width: 1040px){
  .parameter__title h3{
    font-size: 1.295rem;
  }
  .parameter__wind-container{
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: .4rem;
  }
  .parameter__wind{
    width: 500px;
    height: 190px;
  }
  .windmill{
    width: 110px;
    height: 110px;
  }
  .wind__box{
    row-gap:.35rem;
  }

  .wind__speed-bar-params{
    font-size: .95rem;
    justify-content: center;
  }
  .wind__speed-bar-params p {
    font-size: 1.1rem;
  }
  .wind__speed-img{
    height: 43px;
  }
}
@media screen and (min-width: 2200px){
  .parameter__title h3{
    font-size: 1.3rem;
  }
  .parameter__wind{

    height: 755px;
    width: 360px;

  }
  .parameter__wind-container{

    flex-direction: column;
    row-gap: 7rem;
    padding-top: 3rem;
  }
  .wind__box{
    row-gap: 6rem;
  }
  .windmill{
    width: 178px;
    height: 200px;
  }
  .wind__speed-bar-params{
    font-size: 1.18rem;
  }
  .wind__speed-bar-params p {
    font-size: 1.55rem;
  }
  .wind__speed-img{
    height: 65px;
  }
  .parameter__title h3{
    font-size: 1.31rem;
  }
}
