<div class="parameter__wind">
  <div class="parameter__title">
    <h3>Wins & Pressure</h3>
  </div>
  <div class="parameter__wind-container">
    <img class="windmill" src="/assets/photos/windmill.png" >
    <div class="wind__box">
      <div class="wind__speed-bar">
        <div class="wind__speed-bar-params">
          Wind
          <p>11 km/h W</p>
        </div>
        <img class="wind__speed-img" src="/assets/photos/breeze-4s-250px.svg">
      </div>
      <div class="wind__speed-bar">
        <img class="wind__speed-img" src="/assets/photos/breeze-4s-250px.svg">
        <div class="wind__speed-bar-params">
          Barometer
          <p>1,017 mBar</p>
        </div>
      </div>

    </div>
  </div>
</div>
