<div class="news">
  <h3 id="sendMailBTN" (click)="show()">{{ newsTitle | uppercase }}</h3>
  <p>Night and day it is mostly cloudy. Almost no sunshine can be expected.
    Temperature highs are likely to reach {{ this.temp }}°C. The whole day blows a light breeze {{ this.windInfo }}.
    Cloudy cover may be around {{ cloudyCoverInfo }}.
    The weather forecast for Sosnowiec for {{ strDate | date :'EEEE'}} is expected to be very accurate.
    I hope with it and I hope to your day will be awesome. So have a nice day and be careful to yourself ;).
  </p>
</div>


