#sendMailBTN
{
  color: green;
}
.news
{
  width: 100%;
  height: 100%;
}
/*h1*/
/*{*/
/*  text-align: center;*/
/*  text-decoration: underline;*/
/*  padding: 0 1.5em 0;*/
/*  letter-spacing: 7px;*/
/*  margin-bottom: 1.5em;*/
/*  font-size: 2.2rem;*/
/*  font-weight: 550;*/
/*}*/
h3
{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  padding-top: 2.7em;
  font-size: 0.9rem;
  margin-bottom: 2em;
  font-weight: 500;
  text-decoration: underline double;
}
p
{
  padding: 0 4em 4em 4em;
  text-align: justify;
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 130%;
}

@media (min-width: 600px){
  p{
    font-size: 0.8rem;
  }
  h3
  {
    font-size: 1rem;
  }
}
@media (min-width: 800px){
  p{
    font-size: 0.85rem;
  }
  h3
  {
    font-size: 1.15rem;
  }
}
@media (min-width: 1000px){
  p{
    font-size: 0.9rem;
  }
  h3
  {
    font-size: 1.3rem;
  }
}

@media (min-width: 1800px){
  p{
    font-size: 1rem;
  }
  h3
  {
    font-size: 1.5rem;
  }
}
