.login__avatar-part{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 17% 36% repeat(2, 17%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  position: relative;
  background-color: rgb(88,88,88, 0.55);
  backdrop-filter: blur(4px);
}
.menu__icons{
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: .72rem;
  justify-content: flex-start;
  align-items: center;
  column-gap: .55rem;
  border-bottom: 1px dotted white;
  opacity: 0;
  transition: opacity 1s;
}
.menu__icons.show{
  opacity: 1;
}
.icon__choice-box{
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.active__box{
  background-color: rgb(0,255,255, 0.5);
  border-radius: 50%;
  backdrop-filter: blur(360px);
}
.icon__choice{
  height: 18px;
}
.avatar__icon{
  height: 77px;
}
.user__greeting-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: .1rem;
}
.user__greeting-box h2{
  font-size: 1.05rem;
  color: var(--text-color);
  margin-bottom: 0;
  letter-spacing: 2px;
}
.user__greeting-box p{
  font-size: .95rem;
  color: var(--text-color);
  margin-bottom: 0;
}
.edit__icon{
  position: absolute;
  right: 11px;
  top: 14px;
  cursor: pointer;
  height: 25px;
}
/* For small devices */
@media screen and (max-width: 320px){
  .menu__icons{
    padding-left: .68rem;
    column-gap: .4rem;
  }
  .icon__choice-box{
    width: 27px;
    height: 27px;
  }
  .icon__choice{
    height: 16px;
  }
  .avatar__icon{
    height: 72px;
  }
  .user__greeting-box h2{
    font-size: 1rem;
  }
  .user__greeting-box p{
    font-size: .95rem;
  }
  .edit__icon{
    height: 23px;
    right: 10px;
    top: 13px;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .menu__icons{
    padding-left: .77rem;
    column-gap: .65rem;
  }
  .icon__choice-box{
    width: 31px;
    height: 31px;
  }
  .icon__choice{
    height: 19px;
  }
  .avatar__icon{
    height: 86px;
  }
  .user__greeting-box{
    row-gap: .15rem;
  }
  .user__greeting-box h2{
    font-size: 1.25rem;
  }
  .user__greeting-box p{
    font-size: 1.05rem;
  }
  .edit__icon{
    height: 28px;
    right: 10px;
    top: 14px;
  }
}
@media screen and (min-width: 767px){
  .menu__icons{
    padding-left: .82rem;
    column-gap: .86rem;
  }
  .icon__choice-box{
    width: 32px;
    height: 32px;
  }
  .icon__choice{
    height: 20px;
  }
  .avatar__icon{
    height: 93px;
  }
  .user__greeting-box h2{
    font-size: 1.3rem;
  }
  .user__greeting-box p{
    font-size: 1.1rem;
  }
  .edit__icon{
    height: 30px;
    right: 12px;
    top: 16px;
  }
}
/* For large devices */
@media screen and (min-width: 1040px){
  .menu__icons{
    padding-left: .87rem;
    column-gap: .9rem;
  }
  .icon__choice-box{
    width: 33px;
    height: 33px;
  }
  .icon__choice{
    height: 21px;
  }
  .avatar__icon{
    height: 100px;
  }
  .user__greeting-box{
    row-gap: .15rem;
  }
  .user__greeting-box h2{
    font-size: 1.35rem;
  }
  .user__greeting-box p{
    font-size: 1.15rem;
  }
  .edit__icon{
    height: 33px;
    right: 13px;
    top: 17px;
  }
}
@media screen and (min-width: 1600px){
  .menu__icons{
    padding-left: .9rem;
    column-gap: 1rem;
  }
  .icon__choice-box{
    width: 34px;
    height: 34px;
  }
  .icon__choice{
    height: 22px;
  }
  .avatar__icon{
    height: 107px;
  }
  .user__greeting-box{
    row-gap: .175rem;
  }
  .user__greeting-box h2{
    font-size: 1.45rem;
  }
  .user__greeting-box p{
    font-size: 1.2rem;
  }
  .edit__icon{
    height: 35px;
    right: 14px;
    top: 18px;
  }
}
