.buttons__container{
  display: flex;
  flex-direction: column;
  row-gap: 2.2rem;
}
.login{
  display: grid;
  row-gap: 1rem;
  color: var(--text-color);
  font-weight: var(--font-super-light);
}
.register{
  display: grid;
  row-gap: 1rem;
  color: var(--text-color);
  font-weight: var(--font-super-light);
}
.login h2, .register h2{
  font-size: 1.05rem;
}
.login__button{
  position: relative;
  height: 38px;
  width: 115px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(88,88,88, 0.65);
  backdrop-filter: blur(2px);
  cursor: pointer;
  border-radius: .67rem;
  font-size: .7rem;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-medium);
  letter-spacing: 1px;
}
.login__button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: .75rem;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #1dccc5, #00ffff, #00ffd5);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
.login__button:hover:before{
  opacity: 1;
}
.login__button:hover:active{
  background: none;
}
.login__button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .buttons__container{
    row-gap: 2rem;
  }
  .login__button{
    width: 95px;
    font-size: .57rem;
    height: 32px;
  }
  .login h2, .register h2{
    font-size: .95rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .buttons__container{
    row-gap: 2.6rem;
  }
  .login__button{
    width: 120px;
    height: 40px;
    font-size: .7rem;
  }
  .login h2, .register h2{
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 767px){
  .buttons__container{
    row-gap: 2.8rem;
  }
  .login__button{
    width: 125px;
    height: 42px;
    font-size: .72rem;
  }
  .login h2, .register h2{
    font-size: 1.25rem;
  }
}
/* For large devices */
@media screen and (min-width: 1040px){
  .buttons__container{
    row-gap: 3rem;
  }
  .login__button{
    width: 130px;
    height: 44px;
    font-size: .842rem;
  }
  .login h2, .register h2{
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1600px){
  .buttons__container{
    row-gap: 3.2rem;
  }

}

