<article class="article center__flex-box">
  <div class="forecast__widget">
    <h3 class="title">Forecast</h3>
    <a class="next" (click)="onReachEndNavigationSwiper()"></a>
    <a class="prev"></a>
    <swiper
      #navigationSwiper
      [config]="navigationConfig"
      [navigation] = true
      class="swiper__navigation">
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="forecast__item">
          <p>11PM</p>
          <p><i class="wi wi-day-windy"></i></p>
          <p>24<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
    </swiper>
    <swiper
        #mySwiper
        [config]="temperatureListConfig"
        class="temperature__stages-swiper"
        id="temperature__stages-swiper"
      >
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Wednesday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="temperature__stage">
            <p class="day-name">Friday</p>
            <i class="wi wi-day-cloudy-gusts icon"></i>
            <div class="temperatures">
              <p>24<i class="wi wi-degrees"></i></p>
              <p>14<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
      </swiper>
    <div class="arrow" id="arrow" (click)="onReachEnd()"><a><i class="ri-arrow-down-line"></i></a></div>
  </div>
</article>
