<article class="article center__flex-box">
  <div class="forecast__widget">
    <h3 class="title" (click)="t()">Forecast</h3>
    <a class="next" (click)="onReachEndNavigationSwiper()"></a>
    <a class="prev"></a>
    <swiper
      #navigationSwiper
      [config]="navigationConfig"
      [navigation] = true
      class="swiper__navigation"
    >
      <ng-template swiperSlide *ngFor="let hourlyWeatherInfoObject of (hourlyWeatherInfoObjects | async)" >
        <div class="forecast__item" >
          <p>{{hourlyWeatherInfoObject.time[11] + hourlyWeatherInfoObject.time[12] + hourlyWeatherInfoObject.time[13] + hourlyWeatherInfoObject.time[14] + hourlyWeatherInfoObject.time[15] }}</p>
          <img [src]="getWeatherIconFromStatusCode(hourlyWeatherInfoObject.symbol[1])">
          <p>{{hourlyWeatherInfoObject.temperature}}<i class="wi wi-degrees"></i></p>
        </div>
      </ng-template>
    </swiper>
    <swiper
        #listSwiper
        [config]="temperatureListConfig"
        class="temperature__stages-swiper"
        id="temperature__stages-swiper"
      >
        <ng-template swiperSlide *ngFor="let advancedWeatherInfoObject of (advancedWeatherInfoObjects | async)">
          <div class="temperature__stage">
            <p class="day-name">{{getDayOfWeek(advancedWeatherInfoObject.date)}}</p>
            <img [src]="getWeatherIconFromStatusCode(advancedWeatherInfoObject.symbol[1])">
            <div class="temperatures">
              <p>{{advancedWeatherInfoObject.maxTemp}}<i class="wi wi-degrees"></i></p>
              <p>{{advancedWeatherInfoObject.minTemp}}<i class="wi wi-degrees"></i></p>
            </div>
          </div>
        </ng-template>
      </swiper>
    <div class="arrow" id="arrow" (click)="onReachEndListSwiper()"><a><i class="ri-arrow-down-line"></i></a></div>
  </div>
</article>
