/*----------------------------Parameter-SwiperCube-Settings------------------------*/
.swiper__container{
  margin: 0 auto;
  width: 230px;
  height: 230px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}
.swiper-container-horizontal >>> .swiper-pagination >>> .swiper-pagination-bullet {
  opacity: 0.45;
  background: #FFF!important;
}
.swiper-container-horizontal >>> .swiper-pagination >>> .swiper-pagination-bullet-active {
  background: white!important;
  opacity: 1;
}

/*------------------------------------------Parameter----------------------------*/
.swiper__cube-article{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.parameter__container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: .65rem;
  color: var(--text-color);
  font-weight: var(--font-medium);
  justify-content: center;
  align-content: center;
  height: 230px;
  background-color: rgb(88,88,88, 0.55);
  backdrop-filter: blur(4px);
  border-radius: 1.5rem;
}
.parameter__part{
  grid-row-gap: .25rem;
}
.element {
  height: 25px;
  width: 25px;
}
.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.white {fill:#FFFFFF}
.gray {fill:#E0E0E0}
.yellow {fill:#FFEB3B}
.parameter__status{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .525rem;
}
.parameter__status h2{
  font-size: 1rem;
}
.parameter__status h2:first-letter{
  text-transform: uppercase;
}
.parameter__temperatures
{
  display: flex;
  column-gap: 1.6rem;
  justify-content: center;
  align-items: center;
}
.highest__temperature, .lowest__temperature{
  display: inline-flex;
  font-size: 1.345rem;
}
.highest__temperature i:first-child, .lowest__temperature i:first-child
{
  margin-right: .8rem;
  font-size: 1.5rem;
}
.highest__temperature i:last-child, .lowest__temperature i:last-child
{
  margin-left: .1rem;
  font-size: 1.4rem;
}
.parameter__temp
{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  font-size: 4.4rem;
  font-weight: var(--font-super-light);
}
.parameter__temp i
{
  margin-left: .5rem;
}

/*==========WindMill Cube Part========================*/
.wind-part{
  row-gap: .8rem;
  grid-template-rows: repeat(2, auto);
}
.wind-part h2{
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wind-box{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
}
.wind-box .windmill{
  width: 96px;
  height: 102px;
}
.wind-box .wind-img{
  height: 40px;
}
.wind-box .wind-params-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: .35rem;
}
.wind-box .wind-params-icon .wind-params p:first-child{
  font-size: .88rem;
}
.wind-box .wind-params-icon .wind-params p:last-child{
  font-size: .98rem;
}
/*==============Precipitations Cube Part=====================*/
.precipitation-part{
  row-gap: 1.2rem;
}
.precipitation-part h2{
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.precipitation-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: .6rem;

}
.precipitation-item p:first-child{
  font-size: 1.08rem;
  font-weight: var(--font-medium);
}
.precipitation-item p:last-child{
  font-size: .98rem;
  font-weight: var(--font-medium);
}
.precipitation-item .drop-water{
  width: 32px;
  height: 32px;
}
/*====================Newsletter Part=====================*/
.newsletter{
  background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29zbW9zfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-size: cover;
  background-position: center;
  row-gap: 1.6rem;
}
.newsletter h2{
  font-size: 1.24rem;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter .newsletter__form{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.newsletter-input{
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0;
  padding: .52rem .72rem;
  border-radius: 50px;
  font-size: .7rem;
  font-weight: var(--font-medium);
}
input[type="email"] {
  width: 125px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: .4rem;
  flex-direction: column;
}
button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: not-allowed;
  border: 0;
  background-color: gray;
  border-radius: 50%;
}
.btnColor{
  background-color: red!important;
  cursor: pointer!important;
}
.envelope-icon{
  width: .64rem;
  height: .64rem;
  fill: white;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .swiper__container{
    width: 210px;
    height: 210px;
  }
  .parameter__part{
    width: 210px;
    height: 210px;
  }
  .parameter__container{
    height: 210px;
    grid-row-gap: .35rem;
  }
  .element{
    width: 23px;
    height: 23px;
  }
  .parameter__status{
    column-gap: .5rem;
  }
  .parameter__status h2{
    font-size: .95rem;
  }
  .parameter__temperatures{
    column-gap: 1.5rem;
  }
  .highest__temperature, .lowest__temperature{
    font-size: 1.2rem;
  }
  .highest__temperature i:first-child, .lowest__temperature i:first-child{
    margin-right: .65rem;
    font-size: 1.45rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    font-size: 1.35rem;
  }
  .parameter__temp{
    font-size: 4.2rem;
  }
  .parameter__temp i
  {
    margin-left: .3rem;
  }
  .wind-part{
    row-gap: .625rem;
  }
  .wind-part h2{
    font-size: 1rem;
  }
  .wind-box{
    column-gap: .65rem;
  }
  .wind-box .windmill{
    width: 90px;
    height: 96px;
  }
  .wind-box .wind-img{
    height: 34px;
  }
  .wind-box .wind-params-icon{
    row-gap: .25rem;
  }
  .wind-box .wind-params-icon .wind-params p:first-child{
    font-size: .82rem;
  }
  .wind-box .wind-params-icon .wind-params p:last-child{
    font-size: .92rem;
  }
  .precipitation-part{
    row-gap: 1rem;
  }
  .precipitation-part h2{
    font-size: 1rem;
  }
  .precipitation-item{
    row-gap: .45rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.02rem;
  }
  .precipitation-item p:last-child{
    font-size: .92rem;
  }
  .precipitation-item .drop-water{
    width: 30px;
    height: 30px;
  }
  .newsletter{
    row-gap: 1.3rem;
  }
  .newsletter h2{
    letter-spacing: 3px;
    font-size: 1.15rem;
  }
  .newsletter .newsletter__form{
    row-gap: 1.25rem;
  }
  .newsletter-input{
    padding: .5rem .7rem;
    font-size: .6rem;
  }
  input[type="email"]{
    width: 115px;
  }
  button[type="submit"]{
    width: 30px;
    height: 30px;
  }
  .envelope-icon{
    width: .62rem;
    height: .62rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .swiper__container{
    width: 255px;
    height: 255px;
  }
  .parameter__container{
    height: 255px;
    row-gap: .375rem;
  }
  .element{
    width: 30px;
    height: 30px;
  }
  .parameter__status{
    column-gap: .6rem;
  }
  .parameter__status h2{
    font-size: 1.1rem;
  }
  .parameter__temperatures{
    column-gap: 2rem;
  }

  .highest__temperature, .lowest__temperature{
    font-size: 1.4rem;
  }

  .highest__temperature i:first-child, .lowest__temperature i:first-child
  {
    font-size: 1.6rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    font-size: 1.5rem;
  }
  .parameter__temp{
    font-size: 4.8rem;
  }
  .wind-part{
    row-gap: .84rem;
  }
  .wind-part h2{
    font-size: 1.2rem;
  }
  .wind-box{
    column-gap: .85rem;
  }
  .wind-box .windmill{
    width: 106px;
    height: 112px;
  }
  .wind-box .wind-img{
    height: 42px;
  }
  .wind-box .wind-params-icon .wind-params p:first-child{
    font-size: .93rem;
  }
  .wind-box .wind-params-icon .wind-params p:last-child{
    font-size: 1.03rem;
  }
  .precipitation-part{
    row-gap: 1.25rem;
  }
  .precipitation-part h2{
    font-size: 1.2rem;
  }
  .precipitation-item{
    row-gap: .65rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.18rem;

  }
  .precipitation-item p:last-child{
    font-size: 1.08rem;
  }
  .precipitation-item .drop-water{
    width: 34px;
    height: 34px;
  }
  .newsletter{
    row-gap: 1.7rem;
  }
  .newsletter h2{
    letter-spacing: 5px;
    font-size: 1.34rem;
  }
  .newsletter .newsletter__form{
    row-gap: 1.6rem;
  }
  .newsletter-input{
    padding: .56rem .76rem;
    font-size: .75rem;
  }
  input[type="email"]{
    width: 135px;
  }
  button[type="submit"]{
    width: 34px;
    height: 34px;
  }
  .envelope-icon{
    width: .7rem;
    height: .7rem;
  }
}
@media screen and (min-width: 767px){
  .swiper__container{
    width: 275px;
    height: 275px;
  }
  .parameter__container{
    height: 275px;
    row-gap: .475rem;
  }
  .element{
    width: 32px;
    height: 32px;
  }
  .parameter__status{
    column-gap: .7rem;
  }
  .parameter__status h2{
    font-size: 1.2rem;
  }
  .parameter__temperatures{
    column-gap: 2.2rem;
  }
  .highest__temperature, .lowest__temperature{
    font-size: 1.5rem;
  }
  .highest__temperature i:first-child, .lowest__temperature i:first-child
  {
    font-size: 1.7rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    font-size: 1.6rem;
  }
  .parameter__temp{
    font-size: 5rem;
  }
  .wind-part{
    row-gap: .94rem;
  }
  .wind-part h2{
    font-size: 1.3rem;
  }
  .wind-box{
    column-gap: .94rem;
  }
  .wind-box .windmill{
    width: 112px;
    height: 118px;
  }
  .wind-box .wind-img{
    height: 44px;
  }
  .wind-box .wind-params-icon .wind-params p:first-child{
    font-size: .97rem;
  }
  .wind-box .wind-params-icon .wind-params p:last-child{
    font-size: 1.07rem;
  }
  .precipitation-part{
    row-gap: 1.35rem;
  }
  .precipitation-part h2{
    font-size: 1.3rem;
  }
  .precipitation-item{
    row-gap: .75rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.28rem;

  }
  .precipitation-item p:last-child{
    font-size: 1.18rem;

  }
  .precipitation-item .drop-water{
    width: 36px;
    height: 36px;
  }
  .newsletter{
    row-gap: 1.85rem;
  }
  .newsletter h2{
    font-size: 1.44rem;
  }
  .newsletter .newsletter__form{
    row-gap: 1.7rem;
  }
  .newsletter-input{
    padding: .58rem .78rem;
    font-size: .8rem;
  }
  input[type="email"]{
    width: 145px;
  }
  button[type="submit"]{
    width: 37px;
    height: 37px;
  }
  .envelope-icon{
    width: .77rem;
    height: .77rem;
  }
}
/* For large devices */
@media screen and (min-width: 1040px){
  .swiper__container{
    width: 295px;
    height: 295px;
  }
  .parameter__container{
    height: 295px;
    row-gap: .575rem;
  }
  .element{
    width: 34px;
    height: 34px;
  }
  .parameter__status{
    column-gap: .8rem;
  }
  .parameter__status h2{
    font-size: 1.3rem;
  }
  .parameter__temperatures{
    column-gap: 2.4rem;
  }
  .highest__temperature, .lowest__temperature{
    font-size: 1.6rem;
  }
  .highest__temperature i:first-child, .lowest__temperature i:first-child
  {
    font-size: 1.8rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    font-size: 1.7rem;
  }
  .parameter__temp{
    font-size: 5.2rem;
  }
  .wind-part{
    row-gap: 1.04rem;
  }
  .wind-part h2{
    font-size: 1.4rem;
  }
  .wind-box{
    column-gap: 1.04rem;
  }
  .wind-box .windmill{
    width: 118px;
    height: 124px;
  }
  .wind-box .wind-img{
    height: 46px;
  }
  .wind-box .wind-params-icon .wind-params p:first-child{
    font-size: 1.04rem;
  }
  .wind-box .wind-params-icon .wind-params p:last-child{
    font-size: 1.14rem;
  }
  .precipitation-part{
    row-gap: 1.45rem;
  }
  .precipitation-part h2{
    font-size: 1.4rem;
  }
  .precipitation-item{
    row-gap: .85rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.38rem;
  }
  .precipitation-item p:last-child{
    font-size: 1.28rem;

  }
  .precipitation-item .drop-water{
    width: 38px;
    height: 38px;
  }
  .newsletter{
    row-gap: 2rem;
  }
  .newsletter h2{

    font-size: 1.54rem;
  }
  .newsletter .newsletter__form{
    row-gap: 1.8rem;
  }
  .newsletter-input{
    padding: .6rem .8rem;
    font-size: .825rem;
  }
  input[type="email"]{
    width: 155px;
  }
  button[type="submit"]{
    width: 40px;
    height: 40px;
  }
  .envelope-icon{
    width: .84rem;
    height: .84rem;
  }
}
@media screen and (min-width: 1600px){

}

