/*----------------------------Parameter-SwiperCube-Settings------------------------*/
.swiper__container{
  margin: 0 auto;
  width: 230px;
  height: 230px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.swiper-container-horizontal >>> .swiper-pagination >>> .swiper-pagination-bullet {
  opacity: 0.45;
  background: #FFF!important;
}
.swiper-container-horizontal >>> .swiper-pagination >>> .swiper-pagination-bullet-active {
  background: white!important;
  opacity: 1;
}

.swiper__cube-img{
  height: 230px;
  border-radius: 1.5rem;
}
/*Setting for weather icon SVG parameter*/
.element {
  height: 27px;
  width: 27px;

}
.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.white {fill:#FFFFFF}
.gray {fill:#E0E0E0}
.yellow {fill:#FFEB3B}
/*------------------------------------------Parameter----------------------------*/

.parameter__container{
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-weight: var(--font-medium);
  justify-content: center;
  align-items: center;
  height: 230px;
  background-color: rgb(176,176,176, 0.7);
  backdrop-filter: blur(1px);
  border-radius: 1.5rem;
  row-gap: .225rem;
}
.parameter__container h2{
  font-size: 1.42rem;
}
.parameter__part{
  display: flex;
  justify-content: center;
  align-items: center;


}
.parameter__status{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .525rem;

}
.parameter__status h2{
  font-size: 1.1rem;
}
.parameter__temperatures
{
  display: flex;
  column-gap: 2.4rem;
  justify-content: center;
  align-items: center;
}
.highest__temperature, .lowest__temperature{
  display: inline-flex;
  font-size: 1.345rem;
}

.highest__temperature i:first-child, .lowest__temperature i:first-child
{
  margin-right: .8rem;
  font-size: 1.75rem;

}
.highest__temperature i:last-child, .lowest__temperature i:last-child
{
  margin-left: .1rem;
  font-size: 1.6rem;
}
.parameter__temp
{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  font-size: 4.7rem;
  font-weight: var(--font-super-light);
}
.parameter__temp i
{
  margin-left: .5rem;
}
/*==========WindMill Cube Part========================*/
.wind-part{
  row-gap: .8rem;
}
.wind-part h2{
  font-size: 1.1rem;
}
.wind-box{
  display: flex;
  column-gap: .65rem;
}
.wind-box .windmill{
  width: 102px;
  height: 108px;
}
.wind-box .wind-img{
  height: 44px;
}
.wind-box .wind-params-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.wind-box .wind-params-icon .wind-params{
  font-size: .95rem;
  font-weight: var(--font-medium);
}
.wind-box .wind-params-icon .wind-params p{
  font-size: 1.125rem;
  font-weight: var(--font-medium);
}
/*==============Precipitations Cube Part=====================*/
.precipitation-part{
  row-gap: 1.2rem;
}
.precipitation-part h2{
  font-size: 1.1rem;
}
.precipitation-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: .6rem;

}
.precipitation-item p:first-child{
  font-size: 1.3rem;
  font-weight: var(--font-medium);
}
.precipitation-item p:last-child{
  font-size: 1.2rem;
  font-weight: var(--font-medium);
}
.precipitation-item .drop-water{
  width: 37px;
  height: 37px;
}
/*====================Newsletter Part=====================*/
.newsletter{
  background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29zbW9zfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-size: cover;
  background-position: center;
  row-gap: 1.6rem;
}
.newsletter h2{
  font-size: 1.275rem;
  letter-spacing: 4px;
}
.newsletter .newsletter__form{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.newsletter-input{
  background: #fff;
  color: #060c22;
  border: 0;
  outline: none;
  margin: 0;
  padding: .6rem .85rem;
  border-radius: 50px;
  font-size: .72rem;
  font-weight: var(--font-medium);
}
input[type="email"] {
  width: 150px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: .4rem;
  flex-direction: column;
}


button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: not-allowed;
  border: 0;
  background-color: gray;
  border-radius: 50%;
}
.btnColor{
  background-color: red!important;
  cursor: pointer!important;
}
.envelope-icon{
  width: .8rem;
  height: .8rem;
  fill: white;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .swiper__container{
    width: 210px;
    height: 210px;
  }
  .parameter__part{
    width: 210px;
    height: 210px;
  }
  .parameter__container{
    height: 210px;
    row-gap: .255rem;
  }
  .parameter__temperatures{
    column-gap: 1.7rem;
  }
  .swiper__cube-img{
    height: 210px;
  }
  .parameter__status{
    column-gap: .6rem;
  }
  .parameter__status h2{
    font-size: .97rem;
  }
  .highest__temperature, .lowest__temperature{
    font-size: 1.2rem;
  }
  .highest__temperature i:first-child, .lowest__temperature i:first-child{
    margin-right: .75rem;
    font-size: 1.55rem;
  }
  .parameter__temp{
    font-size: 4.35rem;
  }
  .element{
    width: 24px;
    height: 24px;
  }
  .wind-part{
    row-gap: .625rem;
  }
  .wind-part h2{
    font-size: 1.03rem;
  }
  .wind-box{
    column-gap: .55rem;
  }
  .wind-box .windmill{
    width: 96px;
    height: 102px;
  }
  .wind-box .wind-img{
    height: 34px;
  }
  .wind-box .wind-params-icon .wind-params{
    font-size: .875rem;
  }
  .wind-box .wind-params-icon .wind-params p{
    font-size: 1.03rem;
  }
  .precipitation-part{
    row-gap: 1rem;
  }
  .precipitation-part h2{
    font-size: 1.03rem;
  }
  .precipitation-item{
    row-gap: .45rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.2rem;
    font-weight: var(--font-medium);
  }
  .precipitation-item p:last-child{
    font-size: 1rem;
    font-weight: var(--font-medium);
  }
  .precipitation-item .drop-water{
    width: 34px;
    height: 34px;
  }
  .newsletter{
    row-gap: 1.3rem;
  }
  .newsletter h2{
    letter-spacing: 3px;
    font-size: 1.15rem;
  }
  .newsletter .newsletter__form{
    row-gap: 1.25rem;
  }
  .newsletter-input{
    padding: .5rem .75rem;
    font-size: .685rem;
  }
  input[type="email"]{
    width: 130px;
  }
  button[type="submit"]{
    width: 30px;
    height: 30px;
  }
  .envelope-icon{
    width: .62rem;
    height: .62rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .swiper__container{
    width: 285px;
    height: 285px;
  }
  .swiper__cube-img{
    width: 285px;
    height: 285px;
  }
  .parameter__container{
    height: 285px;
    row-gap: .375rem;
  }
  .parameter__temperatures{
    column-gap: 2.5rem;
  }
  .parameter__status{
    column-gap: .85rem;
  }
  .parameter__status h2{
    font-size: 1.25rem;
  }
  .element{
    width: 34px;
    height: 34px;
  }

  .highest__temperature, .lowest__temperature{
    font-size: 1.6rem;
  }

  .highest__temperature i:first-child, .lowest__temperature i:first-child
  {
    font-size: 2rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    margin-left: .1rem;
    font-size: 1.9rem;
  }
  .parameter__temp{
    font-size: 5.7rem;
  }
  .wind-part{
    row-gap: .625rem;
  }
  .wind-part h2{
    font-size: 1.4rem;
  }
  .wind-box{
    column-gap: 1rem;
  }
  .wind-box .windmill{
    width: 125px;
    height: 139px;
  }
  .wind-box .wind-img{
    height: 50px;
  }
  .wind-box .wind-params-icon .wind-params{
    font-size: 1.1rem;
  }
  .wind-box .wind-params-icon .wind-params p{
    font-size: 1.25rem;
  }
  .precipitation-part{
    row-gap: 1.1rem;
  }
  .precipitation-part h2{
    font-size: 1.4rem;
  }
  .precipitation-item{
    row-gap: .65rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.54rem;

  }
  .precipitation-item p:last-child{
    font-size: 1.425rem;

  }
  .precipitation-item .drop-water{
    width: 44px;
    height: 44px;
  }
  .newsletter{
    row-gap: 2.05rem;
  }
  .newsletter h2{
    letter-spacing: 5px;
    font-size: 1.6rem;
  }
  .newsletter .newsletter__form{
    row-gap: 1.9rem;
  }
  .newsletter-input{
    padding: .7rem 1rem;
    font-size: .875rem;
  }
  input[type="email"]{
    width: 170px;
  }
  button[type="submit"]{
    width: 43px;
    height: 43px;
  }
  .envelope-icon{
    width: .75rem;
    height: .75rem;
  }
}
@media screen and (min-width: 767px){
  .parameter__temperatures{
    column-gap: 3.225rem;
  }
  .swiper__container{
    width: 310px;
    height: 310px;
  }
  .swiper__cube-img{
    width: 310px;
    height: 310px;
  }
  .parameter__container{
    height: 310px;
    row-gap: .475rem;
  }
  .parameter__status{
    column-gap: .95rem;
  }
  .parameter__status h2{
    font-size: 1.42rem;
  }
  .element{
    width: 36px;
    height: 36px;
  }
  .highest__temperature, .lowest__temperature{
    font-size: 1.7rem;
  }
  .highest__temperature i:first-child, .lowest__temperature i:first-child
  {
    font-size: 2.175rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    margin-left: .1rem;
    font-size: 2rem;
  }
  .parameter__temp{
    font-size: 6.25rem;
  }
  .wind-part{
    row-gap: .55rem;
  }
  .wind-part h2{
    font-size: 1.5rem;
  }
  .wind-box{
    column-gap: 1rem;
  }
  .wind-box .windmill{
    width: 144px;
    height: 150px;
  }
  .wind-box .wind-img{
    height: 56px;
  }
  .wind-box .wind-params-icon .wind-params{
    font-size: 1.2rem;
  }
  .wind-box .wind-params-icon .wind-params p{
    font-size: 1.35rem;
  }
  .precipitation-part{
    row-gap: 1.45rem;
  }
  .precipitation-part h2{
    font-size: 1.5rem;
  }
  .precipitation-item{
    row-gap: .75rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.6rem;

  }
  .precipitation-item p:last-child{
    font-size: 1.5rem;

  }
  .precipitation-item .drop-water{
    width: 46px;
    height: 46px;
  }
  .newsletter{
    row-gap: 2.4rem;
  }
  .newsletter h2{
    font-size: 1.7rem;
  }
  .newsletter .newsletter__form{
    row-gap: 2.2rem;
  }
  .newsletter-input{
    padding: .735rem 1.1rem;
    font-size: .95rem;
  }
  input[type="email"]{
    width: 190px;
  }
  button[type="submit"]{
    width: 46px;
    height: 46px;
  }
  .envelope-icon{
    width: .92rem;
    height: .92rem;
  }
}
/* For large devices */
@media screen and (min-width: 1040px){
  .parameter__temperatures{
    column-gap: 3.3rem;
  }
  .swiper__container{
    width: 320px;
    height: 320px;
  }
  .swiper__cube-img{
    width: 320px;
    height: 320px;
  }
  .parameter__container{
    height: 320px;
    row-gap: .645rem;
  }
  .parameter__status{
    column-gap: 1.05rem;
  }
  .parameter__status h2{
    font-size: 1.375rem;
  }
  .element{
    width: 38px;
    height: 38px;
  }
  .highest__temperature, .lowest__temperature{
    font-size: 1.78rem;
  }
  .highest__temperature i:first-child, .lowest__temperature i:first-child
  {
    font-size: 2.2rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    margin-left: .1rem;
    font-size: 2.1rem;
  }
  .parameter__temp{
    font-size: 6.25rem;
  }
  .wind-part{
    row-gap: .875rem;
  }
  .wind-part h2{
    font-size: 1.5rem;
  }
  .wind-box{
    column-gap: 1.1rem;
  }
  .wind-box .windmill{
    width: 144px;
    height: 155px;
  }
  .wind-box .wind-img{
    height: 54px;
  }
  .wind-box .wind-params-icon .wind-params{
    font-size: 1.24rem;
  }
  .wind-box .wind-params-icon .wind-params p{
    font-size: 1.35rem;
  }
  .precipitation-part{
    row-gap: 1.73rem;
  }
  .precipitation-part h2{
    font-size: 1.5rem;
  }
  .precipitation-item{
    row-gap: .835rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.62rem;

  }
  .precipitation-item p:last-child{
    font-size: 1.52rem;

  }
  .precipitation-item .drop-water{
    width: 47px;
    height: 47px;
  }
  .newsletter{
    row-gap: 2.7rem;
  }
  .newsletter h2{

    font-size: 1.76rem;
  }
  .newsletter .newsletter__form{
    row-gap: 2.2rem;
  }
  .newsletter-input{
    padding: .7rem 1.1rem;
    font-size: 1rem;
  }
  input[type="email"]{
    width: 200px;
  }
  button[type="submit"]{
    width: 48px;
    height: 48px;
  }
  .envelope-icon{
    width: .94rem;
    height: .94rem;
  }
}
@media screen and (min-width: 1600px){
  .parameter__temperatures{
    column-gap: 3.25rem;
  }
  .swiper__container{
    width: 295px;
    height: 295px;
  }
  .swiper__cube-img{
    width: 295px;
    height: 295px;
  }
  .parameter__container{
    height: 295px;
  }
  .parameter__status{
    row-gap: .7rem;
  }
  .parameter__status h2{
    font-size: 1.32rem;
  }
  .element{
    width: 36px;
    height: 36px;
  }
  .highest__temperature, .lowest__temperature{
    font-size: 1.6rem;
  }
  .highest__temperature i:first-child, .lowest__temperature i:first-child
  {
    font-size: 2.2rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    margin-left: .1rem;
    font-size: 1.9rem;
  }
  .parameter__temp{
    font-size: 5.925rem;
  }
  .wind-part{
    row-gap: .625rem;
  }
  .wind-part h2{
    font-size: 1.4rem;
  }
  .wind-box{
    column-gap: 1rem;
  }
  .wind-box .windmill{
    width: 125px;
    height: 139px;
  }
  .wind-box .wind-img{
    height: 50px;
  }
  .wind-box .wind-params-icon .wind-params{
    font-size: 1.1rem;
  }
  .wind-box .wind-params-icon .wind-params p{
    font-size: 1.25rem;
  }
  .precipitation-part{
    row-gap: 1.175rem;
  }
  .precipitation-part h2{
    font-size: 1.4rem;
  }
  .precipitation-item{
    row-gap: .65rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.54rem;

  }
  .precipitation-item p:last-child{
    font-size: 1.425rem;

  }
  .precipitation-item .drop-water{
    width: 44px;
    height: 44px;
  }
  .newsletter{
    row-gap: 2.3rem;
  }
  .newsletter h2{
    letter-spacing: 5px;
    font-size: 1.6rem;
  }
  .newsletter .newsletter__form{
    row-gap: 2rem;
  }
  .newsletter-input{
    padding: .7rem 1rem;
    font-size: .95rem;
  }
  input[type="email"]{
    width: 185px;
  }
  button[type="submit"]{
    width: 43px;
    height: 43px;
  }
  .envelope-icon{
    width: .75rem;
    height: .75rem;
  }
}
@media screen and (min-width: 2200px){
  .swiper__container{
    width: 320px;
    height: 320px;
  }
  .swiper__cube-img{
    width: 320px;
    height: 320px;
  }
  .parameter__container{
    height: 320px;
  }
  .parameter__status{
    font-size: 1.395rem;
  }
  .element{
    width: 38px;
    height: 38px;
  }
  .highest__temperature, .lowest__temperature{
    font-size: 1.7rem;
  }
  .highest__temperature i:first-child, .lowest__temperature i:first-child
  {
    font-size: 2rem;
  }
  .highest__temperature i:last-child, .lowest__temperature i:last-child
  {
    margin-left: .1rem;
    font-size: 1.9rem;
  }
  .parameter__temp{
    font-size: 6.3rem;
  }
  .wind-part{
    row-gap: .875rem;
  }
  .wind-part h2{
    font-size: 1.5rem;
  }
  .wind-box{
    column-gap: 1.1rem;
  }
  .wind-box .windmill{
    width: 144px;
    height: 155px;
  }
  .wind-box .wind-img{
    height: 54px;
  }
  .wind-box .wind-params-icon .wind-params{
    font-size: 1.24rem;
  }
  .wind-box .wind-params-icon .wind-params p{
    font-size: 1.35rem;
  }
  .precipitation-part{
    row-gap: 1.73rem;
  }
  .precipitation-part h2{
    font-size: 1.5rem;
  }
  .precipitation-item{
    row-gap: .835rem;
  }
  .precipitation-item p:first-child{
    font-size: 1.62rem;

  }
  .precipitation-item p:last-child{
    font-size: 1.52rem;

  }
  .precipitation-item .drop-water{
    width: 47px;
    height: 47px;
  }
  .newsletter{
    row-gap: 2.7rem;
  }
  .newsletter h2{

    font-size: 1.76rem;
  }
  .newsletter .newsletter__form{
    row-gap: 2.2rem;
  }
  .newsletter-input{
    padding: .7rem 1.1rem;
    font-size: 1rem;
  }
  input[type="email"]{
    width: 200px;
  }
  button[type="submit"]{
    width: 48px;
    height: 48px;
  }
  .envelope-icon{
    width: .94rem;
    height: .94rem;
  }
}
