.login__part
{
  width: 205px;
  height: 320px;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {

  .login__part{
    width: 185px;
    height: 290px;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {

  .login__part{
    width: 230px;
    height: 345px;
  }
}
@media screen and (min-width: 767px) {

  .login__part{
    width: 250px;
    height: 365px;
  }
}
/* For large devices */
@media screen and (min-width: 1040px) {
  .login__part{
    width: 270px;
    height: 400px;
  }
}
@media screen and (min-width: 1600px) {
  .login__article{
    overflow: hidden;
  }
  .login__part{
    width: 270px;
    height: 420px;
  }
}
