<article class="article center__flex-box" id="precipitation">
  <div class="parameter__precipitation">
    <h3 class="title">Precipitations</h3>
    <div class="parameter__precipitation-box">
      <div class="item">
        <p>0%</p>
        <svg class="drop-of-water" viewBox="0 0 100 100" y="0" x="0" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" style="background-size:initial;background-repeat-y:initial;background-repeat-x:initial;background-position-y:initial;background-position-x:initial;background-origin:initial;background-color:initial;background-clip:initial;background-attachment:initial;animation-play-state:paused" ><g class="ldl-scale" style="transform-origin:50% 50%;transform:rotate(0deg) scale(0.8, 0.8);animation-play-state:paused" ><path fill="#a0c8d7" clip-rule="evenodd" fill-rule="evenodd" d="M77.2 58.6C77.2 80.4 65 90 50 90s-27.2-9.6-27.2-31.4S50 10 50 10s27.2 26.8 27.2 48.6z" style="fill:rgb(148, 224, 239);animation-play-state:paused" ></path>
        </g></svg>
        <p>Morning</p>
      </div>
      <div class="item">
        <p>0%</p>
        <svg class="drop-of-water" viewBox="0 0 100 100" y="0" x="0" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" style="background-size:initial;background-repeat-y:initial;background-repeat-x:initial;background-position-y:initial;background-position-x:initial;background-origin:initial;background-color:initial;background-clip:initial;background-attachment:initial;animation-play-state:paused" ><g class="ldl-scale" style="transform-origin:50% 50%;transform:rotate(0deg) scale(0.8, 0.8);animation-play-state:paused" ><path fill="#a0c8d7" clip-rule="evenodd" fill-rule="evenodd" d="M77.2 58.6C77.2 80.4 65 90 50 90s-27.2-9.6-27.2-31.4S50 10 50 10s27.2 26.8 27.2 48.6z" style="fill:rgb(148, 224, 239);animation-play-state:paused" ></path>
        </g></svg>
        <p>Afternoon</p>
      </div>
      <div class="item">
        <p>0%</p>
        <svg class="drop-of-water" viewBox="0 0 100 100" y="0" x="0" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" style="background-size:initial;background-repeat-y:initial;background-repeat-x:initial;background-position-y:initial;background-position-x:initial;background-origin:initial;background-color:initial;background-clip:initial;background-attachment:initial;animation-play-state:paused" ><g class="ldl-scale" style="transform-origin:50% 50%;transform:rotate(0deg) scale(0.8, 0.8);animation-play-state:paused" ><path fill="#a0c8d7" clip-rule="evenodd" fill-rule="evenodd" d="M77.2 58.6C77.2 80.4 65 90 50 90s-27.2-9.6-27.2-31.4S50 10 50 10s27.2 26.8 27.2 48.6z" style="fill:rgb(148, 224, 239);animation-play-state:paused" ></path>
        </g></svg>
        <p>Evening</p>
      </div>
      <div class="item">
        <p>0%</p>
        <svg class="drop-of-water" viewBox="0 0 100 100" y="0" x="0" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" style="background-size:initial;background-repeat-y:initial;background-repeat-x:initial;background-position-y:initial;background-position-x:initial;background-origin:initial;background-color:initial;background-clip:initial;background-attachment:initial;animation-play-state:paused" ><g class="ldl-scale" style="transform-origin:50% 50%;transform:rotate(0deg) scale(0.8, 0.8);animation-play-state:paused" ><path fill="#a0c8d7" clip-rule="evenodd" fill-rule="evenodd" d="M77.2 58.6C77.2 80.4 65 90 50 90s-27.2-9.6-27.2-31.4S50 10 50 10s27.2 26.8 27.2 48.6z" style="fill:rgb(148, 224, 239);animation-play-state:paused" ></path>
        </g></svg>
        <p>Night</p>
      </div>
    </div>
  </div>
</article>
