<section class="parameter">
  <article class="parameter__login">
    <div class="login">
      <h2>Login:</h2>
      <button class="login-button">LOGIN</button>
    </div>
    <div class="registry">
      <h2>Registry:</h2>
      <button class="login-button">REGISTER</button>
    </div>
  </article>
  <article class="parameter__part">
    <div class="swiper__container" (mouseover)="stopTuringAround()" (mouseout)="startTuringAround()">
      <swiper
        [config] = "cubeConfig"
        class="swiper__cube"
        #cubeSwiper
      >
        <ng-template swiperSlide>
          <div class="parameter__container">
            <div class="parameter__status">
              <div class="elements">
                <!-- Cloudy with sun -->
                <div class="element">
                  <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 61.7 42.8" style="enable-background:new 0 0 61.7 42.8;" xml:space="preserve">
                              <g id="Cloud_3">
                                <g id="White_cloud_3">
                                  <path id="XMLID_24_" class="white" d="M47.2,42.8H7.9c-4.3,0-7.9-3.5-7.9-7.9l0,0C0,30.5,3.5,27,7.9,27h39.4c4.3,0,7.9,3.5,7.9,7.9 v0C55.1,39.2,51.6,42.8,47.2,42.8z"/>
                                  <circle id="XMLID_23_" class="white" cx="17.4" cy="25.5" r="9.3"/>
                                  <circle id="XMLID_22_" class="white" cx="34.5" cy="23.9" r="15.6"/>
                                  <animateTransform attributeName="transform"
                                                    attributeType="XML"
                                                    dur="6s"
                                                    keyTimes="0;0.5;1"
                                                    repeatCount="indefinite"
                                                    type="translate"
                                                    values="0;5;0"
                                                    calcMode="linear">
                                  </animateTransform>
                                </g>
                                <g id="Sun_3">
                                <circle id="XMLID_30_" class="yellow" cx="31.4" cy="18.5" r="9"/>
                                  <g>
                                  <path id="XMLID_31_" class="yellow" d="M31.4,6.6L31.4,6.6c-0.4,0-0.6-0.3-0.6-0.6V0.6C30.8,0.3,31,0,31.3,0l0.1,0 C31.7,0,32,0.3,32,0.6v5.5C32,6.4,31.7,6.6,31.4,6.6z"/>
                                    <path id="XMLID_34_" class="yellow" d="M31.4,30.1L31.4,30.1c-0.4,0-0.6,0.3-0.6,0.6v5.5c0,0.3,0.3,0.6,0.6,0.6h0.1 c0.3,0,0.6-0.3,0.6-0.6v-5.5C32,30.4,31.7,30.1,31.4,30.1z"/>
                                    <path id="XMLID_35_" class="yellow" d="M19.6,18.3L19.6,18.3c0,0.4-0.3,0.6-0.6,0.6h-5.5c-0.3,0-0.6-0.3-0.6-0.6v-0.1 c0-0.3,0.3-0.6,0.6-0.6H19C19.3,17.8,19.6,18,19.6,18.3z"/>
                                    <path id="XMLID_33_" class="yellow" d="M43.1,18.3L43.1,18.3c0,0.4,0.3,0.6,0.6,0.6h5.5c0.3,0,0.6-0.3,0.6-0.6v-0.1 c0-0.3-0.3-0.6-0.6-0.6h-5.5C43.4,17.8,43.1,18,43.1,18.3z"/>
                                    <path id="XMLID_37_" class="yellow" d="M22.4,26L22.4,26c0.3,0.3,0.2,0.7,0,0.9l-4.2,3.6c-0.2,0.2-0.6,0.2-0.8-0.1l-0.1-0.1 c-0.2-0.2-0.2-0.6,0.1-0.8l4.2-3.6C21.9,25.8,22.2,25.8,22.4,26z"/>
                                    <path id="XMLID_36_" class="yellow" d="M40.3,10.7L40.3,10.7c0.3,0.3,0.6,0.3,0.8,0.1l4.2-3.6c0.2-0.2,0.3-0.6,0.1-0.8l-0.1-0.1 c-0.2-0.2-0.6-0.3-0.8-0.1l-4.2,3.6C40.1,10.1,40,10.5,40.3,10.7z"/>
                                    <path id="XMLID_39_" class="yellow" d="M22.4,10.8L22.4,10.8c0.3-0.3,0.2-0.7,0-0.9l-4.2-3.6c-0.2-0.2-0.6-0.2-0.8,0.1l-0.1,0.1 c-0.2,0.2-0.2,0.6,0.1,0.8l4.2,3.6C21.9,11,22.2,11,22.4,10.8z"/>
                                    <path id="XMLID_38_" class="yellow" d="M40.3,26.1L40.3,26.1c0.3-0.3,0.6-0.3,0.8-0.1l4.2,3.6c0.2,0.2,0.3,0.6,0.1,0.8l-0.1,0.1 c-0.2,0.2-0.6,0.3-0.8,0.1l-4.2-3.6C40.1,26.7,40,26.3,40.3,26.1z"/>
                                    <animate
                                             attributeName="opacity"
                                             dur="0.5s"
                                             keyTimes="0;0.5;1"
                                             repeatCount="indefinite"
                                             values="1;0.6;1"
                                             calcMode="linear"/>
                                </g>
                              </g>
                                <animateTransform attributeName="transform"
                                                  attributeType="XML"
                                                  dur="2s"
                                                  keyTimes="0;1"
                                                  repeatCount="indefinite"
                                                  type="scale"
                                                  values="1;1"
                                                  calcMode="linear">
                              </animateTransform>
                             </g>
                    <g id="Gray_cloud_3">
      		                    <path id="XMLID_20_" class="gray" d="M55.7,25.1H34.4c-3.3,0-6-2.7-6-6v0c0-3.3,2.7-6,6-6h21.3c3.3,0,6,2.7,6,6v0 C61.7,22.4,59,25.1,55.7,25.1z"/>
                      <circle id="XMLID_19_" class="gray" cx="46.7" cy="13.4" r="10.7"/>
                      <animateTransform attributeName="transform"
                                        attributeType="XML"
                                        dur="6s"
                                        keyTimes="0;0.5;1"
                                        repeatCount="indefinite"
                                        type="translate"
                                        values="0;-3;0"
                                        calcMode="linear">
                            </animateTransform>
                           </g>

                        </svg>
                </div>
              </div>
              Party Cloudy
            </div>
            <div class="parameter__temperatures">
              <div class="highest__temperature">
                <i class="wi wi-direction-up"></i> 14 <i class="wi wi-degrees"></i>
              </div>
              <div class="lowest__temperature">
                <i class="wi wi-direction-down"></i> 6 <i class="wi wi-degrees"></i>
              </div>
            </div>
            <div class="parameter__temp">
              23<i class="wi wi-degrees"></i>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="parameter__container wind-part">
            <h2>Wind Params:</h2>
            <div class="wind-box">
              <img class="windmill" src="/assets/photos/windmill.png">
              <div class="wind-params-icon">
                <div class="wind-params">
                  Wind
                  <p>11 km/h W</p>
                </div>
                <img class="wind-img" src="/assets/photos/breeze-4s-250px.svg">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="parameter__container precipitation-part">
            <h2>Precipitations Params:</h2>
            <div class="precipitation-item">
              <p>0%</p>
              <img class="drop-water" src="/assets/photos/water-1.1s-200px.svg">
              <p>Afternoon</p>
            </div>
          </div>

        </ng-template>
        <ng-template swiperSlide>
          <div class="parameter__container newsletter">
            <h2>Newsletter:</h2>
            <div>
              <input required type="email" name="email" id="email" class="newsletter-input" placeholder="Enter your email...">
              <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="envelope-icon" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>
              </button>
            </div>

          </div>
        </ng-template>
      </swiper>
    </div>
  </article>
</section>
