.main
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 60px;
  align-content: center;
  justify-content: center;
}
.login__section
{
  padding-top: 6.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 2.8rem;
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  justify-items: center;
}
.widgets__section{
  background-color: rgb(88,88,88, 0.65);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;
  grid-area: 2 / 1 / 3 / 2;
}
/*=======================Error Container=========*/
.error__container{
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0);
  width: 175px;
  height: 44px;
}
.success, .error {
  border: 1px solid;
  display: flex;
  padding: 0 10px 0 45px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 10px center;
  font-size: .7rem;
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('https://i.imgur.com/Q9BGTuy.png');
  width: 100%;
  height: 100%;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  width: 100%;
  height: 100%;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .login__section{
    row-gap: 2.6rem;
    padding-top: 6rem;
  }
  .widgets__section{
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
  }
  .error__container{
    width: 150px;
    height: 38px;
  }
  .success, .error {
    font-size: .6rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .login__section{
    row-gap: 3rem;
    padding-top: 7rem;
  }
  .widgets__section{
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
  }
  .error__container{
    width: 200px;
    height: 50px;
  }
  .success, .error {
    font-size: .75rem;
  }
}
@media screen and (min-width: 767px) {
  .login__section{
    row-gap: 3.2rem;
  }
  .widgets__section{
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
  }
}
/* For large devices */
@media screen and (min-width: 1040px) {
  .main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 60px;
    align-content: center;
    justify-content: center;
  }
  .login__section{
    row-gap: 3.4rem;
    padding-top: 7rem;
  }
  .widgets__section{
    height: 700px;
    display: grid;
    grid-template-columns: 360px 480px;
    grid-template-rows: 170px 170px 170px;
    grid-column-gap: 80px;
    grid-row-gap: 45px;
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
  }
  .forecast__widget { grid-area: 1 / 1 / 4 / 2; }
  .windSpeed__widget { grid-area: 1 / 2 / 2 / 3; }
  .precipitations__widget { grid-area: 2 / 2 / 3 / 3; }
  .sun-moon__widget { grid-area: 3 / 2 / 4 / 3; }
}
@media screen and (min-width: 1600px) {
  .main
  {
    display: grid;
    grid-template-columns: 1fr 65%;
    grid-template-rows: 100%;
    grid-auto-flow: column;
  }
  .login__section
  {
    padding-top: 6.65rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 420px 295px;
    grid-row-gap: 3rem;
  }
  .widgets__section{
    height: 937px;
    grid-column-gap: 100px;
    grid-area: 1 / 2 / 2 / 3;
  }
}
