<ngx-ui-loader>
</ngx-ui-loader>
<app-header></app-header>
<main class="main">
  <div class="container">
    <app-login-cube-section></app-login-cube-section>
    <section class="widgets">
      <div class="widgets__container">
        <app-forecast-widget></app-forecast-widget>
        <article class="forecast__parameter-widgets">
          <app-wind-widget class="join__rows"></app-wind-widget>
          <app-precipitations-widget class="order__rows"></app-precipitations-widget>
          <app-sun-moon-widget></app-sun-moon-widget>
        </article>
      </div>
    </section>
  </div>
</main>
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-line"></i>
</a>
<div class="style-switchers-container">
  <div class="settings-theme">
    <i class="ri-settings-3-line"></i>
  </div>
  <div class="day-night">
    <i class="ri-moon-line"></i>
  </div>
</div>


