.main
{
  margin: 0 auto;
}
/*------------------------------CONTAINER-----------------------------------------------*/
.container
{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 7rem;
}
/*----------------------WIDGETS------------------------*/
.widgets{
  width: 100%;
  height: auto;
  position:relative;
  background-color: rgb(176,176,176, 0.65);
  padding: 1.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;


}
.widgets__container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}

/*-------------------------------Parameters part of widgets-------------------------------------*/
.forecast__parameter-widgets
{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.813rem;
}
/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  display: inline-flex;
  padding: .75rem;
  border-radius: .5rem;
  font-size: 1.35rem;
  color: white;
  z-index: 20;
  transition: .4s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}
/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}
/*===================Settings=====================*/
.style-switchers-container{
  position: fixed;
  top: 6.8rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  transition: all 0.3s ease;
  z-index: 100;
}
.settings-theme{
  font-size: 2rem;
  color: white;

}
.settings-theme i{
  transition: all 0.3s ease;
}
.day-night{

  font-size: 2rem;
  color: white;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container
  {
    gap: 2.75rem;
    padding-top: 6rem;
  }
  .widgets{
    padding: 1.8rem .75rem;
  }
  .widgets__container{
    flex-direction: column;
    gap: 3rem;
  }
  .scrollup{
    right: 1rem;
    padding: .45rem;
    font-size: 1.15rem;
  }
  .show-scroll{
    bottom: 1.5rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .container{
    row-gap: 2.65rem;
    padding-top: 7.5rem;
  }
  .scrollup{
    right: 1.75rem;
    padding: .875rem;
    font-size: 1.375rem;
    border-radius: .7rem;
  }
  .show-scroll{
    bottom: 2.5rem;
  }
}
@media screen and (min-width: 767px) {
  .container{
    row-gap: 3rem;
    padding-top: 8rem;
  }
  .widgets__container{
    row-gap: 3rem;
  }
  .scrollup{
    right: 3rem;
    padding: .9rem;
    font-size: 1.42rem;
    border-radius: .8rem;

  }
  .show-scroll{
    bottom: 3rem;
  }
}
/* For large devices */
@media screen and (min-width: 1040px) {
  .container{
    padding-top: 8.5rem;
    row-gap: 3.2rem;
  }
  .widgets{
    padding: 2.5rem 0;
  }
  .widgets__container{
    flex-direction: row;
    column-gap: 5.5rem;
  }
  .scrollup{

    right: 2rem;
    padding: .9rem;
    font-size: 1.42rem;
    border-radius: .8rem;
  }
  .show-scroll{
    bottom: 2rem;
  }
}
@media screen and (min-width: 1600px) {
  .container{
    flex-direction: row;
    column-gap: 4rem;

  }
  .main{
    margin-top: 4.2rem;
    width: 1550px;
  }
  .widgets{
    padding: 5.25rem 0;
  }
  .widgets__container{
    row-gap: 3rem;
  }
}
@media screen and (min-width: 2200px) {
  .main{
    width: 2070px;
    margin-top: 2.5rem;
  }
  .container{

    column-gap: 5rem;
  }
  .forecast__parameter-widgets
  {
    display: grid;
    grid-template-columns: 550px 360px;
    grid-auto-rows: 220px 220px;
    grid-column-gap: 5.5rem;
    grid-row-gap: 7.75rem;
    grid-auto-flow: dense;
  }
  .widgets{
    padding: 7rem 0;
  }
}
