<app-header></app-header>
<main class="main" >
  <section class="login__section" id="home">
    <article class="center__flex-box">
      <div class="login__part">
        <router-outlet></router-outlet>
      </div>
    </article>
    <app-cube-swiper></app-cube-swiper>
  </section>
  <section class="widgets__section">
    <app-forecast-widget id="forecast" class="forecast__widget"></app-forecast-widget>
    <app-wind-widget class="windSpeed__widget" id="wind"></app-wind-widget>
    <app-precipitations-widget class="precipitations__widget" id="precipitation"></app-precipitations-widget>
    <app-sun-moon-widget id="sun-moon" class="sun-moon__widget"></app-sun-moon-widget>
  </section>
</main>
<app-scroll-up-theme-switcher></app-scroll-up-theme-switcher>



