.main
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 60px;
  align-content: center;
  justify-content: center;
}

/*----------------------------Login Swiper Cube Section Settings---------------*/
.login__section
{
  padding-top: 6.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 2.8rem;
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  justify-items: center;
}
.login__part
{
  background-color: rgb(88,88,88, 0.55);
  backdrop-filter: blur(4px);
  width: 205px;
  height: 320px;
}
/*----------------------WIDGETS------------------------*/
.widgets__section{
  background-color: rgb(88,88,88, 0.65);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;
  grid-area: 2 / 1 / 3 / 2;
}
/*Footer*/

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .login__section{
    row-gap: 2.6rem;
    padding-top: 6rem;
  }
  .login__part{
    width: 185px;
    height: 290px;
  }
  .widgets__section{
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .login__section{
    row-gap: 3rem;
    padding-top: 7rem;
  }
  .login__part{
    width: 230px;
    height: 345px;
  }
  .widgets__section{
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
  }
}
@media screen and (min-width: 767px) {
  .login__section{
    row-gap: 3.2rem;
  }
  .login__part{
    width: 250px;
    height: 365px;
  }
  .widgets__section{
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
  }
}
/* For large devices */
@media screen and (min-width: 1040px) {
  .login__section{
    row-gap: 3.4rem;
    padding-top: 7rem;
  }
  .login__part{
    width: 270px;
    height: 400px;
  }
  .widgets__section{
    height: 700px;
    display: grid;
    grid-template-columns: 360px 480px;
    grid-template-rows: 170px 170px 170px;
    grid-column-gap: 80px;
    grid-row-gap: 45px;
    align-content: center;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
  }
  .main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 60px;
    align-content: center;
    justify-content: center;
  }
  .forecast__widget { grid-area: 1 / 1 / 4 / 2; }
  .windSpeed__widget { grid-area: 1 / 2 / 2 / 3; }
  .precipitations__widget { grid-area: 2 / 2 / 3 / 3; }
  .sun-moon__widget { grid-area: 3 / 2 / 4 / 3; }
}
@media screen and (min-width: 1600px) {
  .main
  {
    display: grid;
    grid-template-columns: 1fr 65%;
    grid-template-rows: 100%;
    grid-auto-flow: column;
  }
  .login__article{
    overflow: hidden;
  }
  .login__section
  {
    padding-top: 4.3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 0;
  }
  .login__part{
    width: 270px;
    height: 420px;
  }
  .widgets__section{
    height: 937px;
    grid-column-gap: 100px;
    grid-area: 1 / 2 / 2 / 3;
  }
}
