/*----------------------------------------WIDGET #3-----------------------------------*/
.parameter__title
{
  border-bottom: 1px solid white;
  color: var(--text-color);
  font-weight: var(--font-super-light);
  letter-spacing: 1px;

}
.parameter__title h3
{
  margin-bottom: .75rem;
  font-size: 1.125rem;
}
.parameter__soon-moon
{
  width: 314px;
  height: 225px;
  background-color: rgb(88,88,88, 0.35);
  backdrop-filter: blur(2px);
  padding: 1.6rem;
}
.parameter__soon-moon-container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .65rem;
}
.parameter__soon-moon-container h1
{
  color: var(--text-color);
  font-size: 2.5rem;
}
.soon-moon-hour-AM
{
  position: absolute;
  bottom: 7px;
  left: 11%;
  color: var(--text-color);
  font-size: .85rem;
}
.soon-moon-hour-PM
{
  position: absolute;
  bottom: 7px;
  left: 46%;
  color: var(--text-color);
  font-size: .85rem;
}
#moon-icon
{
  display:none;
}
#svg__sun-graph{
  height: 130px
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .parameter__title h3{
    font-size: 1.03rem;
  }
  #svg__sun-graph{

    height: 80px;
  }
  .parameter__soon-moon{
    width: 264px;
    height: auto;
  }
  .soon-moon-hour-AM{
    left: 9%;
    bottom: -7px;
  }
  .soon-moon-hour-PM{
    left: 44%;
    bottom: -7px;
  }
  .soon-moon-hour-AM, .soon-moon-hour-PM{
    font-size: .7rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .parameter__title h3{
    font-size: 1.215rem;
  }
  .parameter__soon-moon{
    width: 365px;
  }
  #svg__sun-graph{
    height: 150px;
  }
  .soon-moon-hour-AM, .soon-moon-hour-PM{
    font-size: .95rem;
  }
}
@media screen and (min-width: 767px){
  .parameter__title h3{
    font-size: 1.325rem;
  }
  .parameter__soon-moon{
    width: 396px;

  }
  #svg__sun-graph{
    height: 142px;
  }
  .soon-moon-hour-AM, .soon-moon-hour-PM{
    font-size: 1.075rem;
    bottom: 0;
  }
}
@media screen and (min-width: 1040px){
  .parameter__title h3{
    font-size: 1.295rem;
  }
  .parameter__title h3{
    font-size: 1.305rem;
  }
  .parameter__soon-moon{
    width: 500px;
    height: 200px;
  }
  #svg__sun-graph{
    height: 100px;
  }
  .soon-moon-hour-AM, .soon-moon-hour-PM{
    font-size: .9rem;
    bottom: -1.3rem;
  }
  .soon-moon-hour-AM{
    left: 17%;
  }
  .soon-moon-hour-PM{
    left: 48%;
  }
}
@media screen and (min-width: 2200px){
  .parameter__title h3{
    font-size: 1.3rem;
  }
  .parameter__soon-moon{

    width: 550px;
    height: 225px;

  }
  #svg__sun-graph{
    height: 120px;
  }
  .soon-moon-hour-AM, .soon-moon-hour-PM{
    font-size: 1.05rem;
    bottom: -1.5rem;
  }
  .soon-moon-hour-AM{
    left: 16%;
  }
  .soon-moon-hour-PM{
    left: 48%;
  }
  .parameter__title h3{
    font-size: 1.31rem;
  }
}
