/*-----------------------------Forecast widget-------------------------------*/

.forecast__widget
{
  padding: 1.75rem 2.175rem 0 2.175rem;
  background-color: rgb(88,88,88, 0.35);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 610px;
}
.forecast
{
  max-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden
}

.forecast__title
{
  width: 100%;
  color: var(--text-color);
  font-weight: var(--font-super-light);
  font-size: 1rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(255,255,255, 0.8);

}
.forecast__title h3
{
  margin-bottom: .75rem;
}

/*------------------------------------Swiper#2----------------------------*/

.next {
  position: absolute;
  top: 103px;
  right: 14px;
  border-left: 0.1rem solid #fff;
  border-bottom: 0.1rem solid #fff;
  width: 1.65rem;
  height: 1.65rem;
  transform: rotate(225deg);

}
.prev
{
  position: absolute;
  top: 103px;
  left: 14px;
  border-left: 0.1rem solid #fff;
  border-bottom: 0.1rem solid #fff;
  width: 1.55rem;
  height: 1.55rem;
  transform: rotate(45deg);
}
.prev:active,
.next:active {
  width: 1.35rem;
  height: 1.35rem;
}
.forecast__temperature-box{
  margin-top: .9rem;
  border-bottom: 1px solid white;
}
.forecast__container
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: var(--font-medium);
  max-width: 245px;
}
.forecast__item
{
  font-size: 1rem;
  display: grid;
  row-gap: .65rem;
  color: var(--text-color);
  text-align: center;
  font-weight: var(--font-medium);

}
.forecast__item p {
  margin-bottom: .95rem;
}
/*------------------------------------Temperature Stages-----------------------*/
.temperature__stages-box
{

  margin-top: .75rem;
  display: flex;
  height: 400px;

}
.temperature__stages-swiper
{
  margin: 0;
  width: 245px;
}
.temperature__stages
{
  width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: .54rem;
  font-weight: var(--font-medium);
  border-bottom: 1px dotted rgb(255,255,255, 0.6);

}
.border__top
{
  border-top: 1px dotted rgb(255,255,255, 0.6);
}
.temperature__stages-day-name{
  width: 45%;
}
.temperature__stages-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.temperature__hot-cold
{
  display: flex;
  column-gap: 1rem;

}
.temperature__stages-icon, .temperature__stages-day-name
{
  font-size: 1rem;
}
.temperature__hot-cold{
  font-size: 1.1rem;
}
.arrow
{
  font-size: 1.55rem;
  position: absolute;
  color: rgb(255,240,245);
  bottom: .35rem;

}
.arrow:not(:hover) {
  -webkit-animation: nod 1.2s ease infinite;
  animation: nod 1.2s ease infinite;
}
.arrow:active {
  font-size: 1.35rem;
}

@keyframes nod{
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0);
  }
}
.temperature__hot-cold p:last-child
{
  color: var(--second-text-color);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .forecast__container{
    max-width: 200px;
  }
  .forecast__title h3{
    font-size: 1.02rem;
  }
  .next,.prev{
    top: 92px;
    width: 1.4rem;
    height: 1.4rem;
  }
  .prev:active,
  .next:active{
    width: 1.2rem;
    height: 1.2rem;
  }
  .next{
    right: 14px;

  }
  .prev{
    left: 14px;
  }
  .temperature__stages-box{
    height: 330px;
  }
  .temperature__stages-swiper{
    width: 200px;
  }
  .temperature__stages{
    width: 190px;
  }
  .temperature__stages-icon, .temperature__stages-day-name
  {
    font-size: 0.865rem;
  }

  .temperature__hot-cold{
    column-gap: .75rem;
    font-size: .92rem;
  }
  .forecast__widget{
    padding: 1.44rem 2rem;
    height: 535px;
  }
  .forecast{
    max-height: 520px;
  }
  .forecast__item{
    font-size: .85rem;
  }
  .arrow{
    font-size: 1.45rem;
    bottom: .45rem;
  }
  .arrow:active{
    font-size: 1.25rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .forecast__widget{
    padding: 2rem 2.65rem 0 2.65rem;
    height: 630px;
  }
  .next, .prev{
    top: 115px;
    width: 1.75rem;
    height: 1.75rem;
  }
  .prev:active,
  .next:active{
    width: 1.55rem;
    height: 1.55rem;
  }
  .next{
    right: 18px;
  }
  .prev{
    left: 18px;
  }
  .forecast{
    max-height: 550px;
  }
  .forecast__title{
    font-size: 1.1rem;
  }
  .forecast__container{
    max-width: 280px;
  }
  .forecast__item{
    font-size: 1.1rem;
  }
  .temperature__stages-swiper{
    width: 280px;
  }
  .temperature__stages-box{
    height: 400px;
  }
  .temperature__stages{
    width: 270px;
  }
  .temperature__stages-icon{
    width: 25%;
  }
  .temperature__stages-icon, .temperature__stages-day-name
  {
    font-size: 1.1rem;
  }
  .temperature__hot-cold{
    font-size: 1.3rem;
  }
  .arrow{
    font-size: 1.65rem;
    bottom: .65rem;
  }
  .arrow:active{
    font-size: 1.45rem;
  }
}
@media screen and (min-width: 767px){
  .forecast__widget{
    padding: 2.32rem 3rem 0 3rem;
    height: 674px;
  }
  .forecast{
    max-height: 615px;
  }
  .forecast__title{
    font-size: 1.24rem;
  }
  .forecast__container{
    max-width: 300px;
  }
  .forecast__item{
    font-size: 1.21rem;
  }
  .next, .prev{
    top: 125px;
  }
  .next{
    right: 22px;

  }
  .prev{
    left: 22px;
  }
  .temperature__stages-swiper{
    width: 300px;
  }
  .temperature__stages-box{
    height: 422px;
  }
  .temperature__stages{
    width: 290px;

  }
  .temperature__stages-icon{
    width: 10%;
  }
  .temperature__stages-day-name{
    width: 40%;
  }
  .temperature__stages-icon, .temperature__stages-day-name
  {
    font-size: 1.23rem;
  }
  .temperature__hot-cold{
    font-size: 1.425rem;
  }
  .arrow{
    font-size: 1.775rem;
    bottom: .45rem;
  }
  .arrow:active{
    font-size: 1.55rem;
  }
}
/* For large devices */
@media screen and (min-width: 1040px){
  .forecast{
    max-height: 585px;
  }
  .forecast__widget{
    padding: 2rem 3.25rem 0 3.25rem;
    height: 655px;
  }
  .next, .prev{
    top: 116px;
  }
  .next{
    right: 23px;

  }
  .prev{
    left: 23px;
  }
  .forecast__title{
    font-size: 1.165rem;
  }
  .forecast__container{
    max-width: 270px;
  }
  .forecast__item{
    font-size: 1.2rem;
  }
  .temperature__stages-swiper{
    width: 270px;
  }
  .temperature__stages-box{
    height: 420px;
  }
  .temperature__stages{
    width: 260px;
  }
  .temperature__stages-icon, .temperature__stages-day-name
  {
    font-size: 1.2rem;
  }
  .temperature__stages-day-name{
    width: 45%;
  }
  .temperature__hot-cold{
    font-size: 1.4rem;
  }
  .arrow{
    font-size: 1.7rem;
    bottom: .25rem;
  }
  .arrow:active{
    font-size: 1.55rem;
  }
}
@media screen and (min-width: 1600px){
  .forecast__widget{
    padding: 2.275rem 3.25rem;
    height: 655px;
  }
  .next, .prev{
    top: 118px;
  }
  .forecast__title{
    font-size: 1.2rem;
  }
  .forecast__container{
    max-width: 270px;
  }
  .forecast__item{
    font-size: 1.155rem;
  }
  .temperature__stages-swiper{
    width: 270px;
  }
  .temperature__stages-box{
    height: 420px;
  }
  .temperature__stages{
    width: 260px;

  }
  .temperature__stages-icon, .temperature__stages-day-name
  {
    font-size: 1.175rem;
  }
  .temperature__hot-cold{
    font-size: 1.42rem;
  }
  .arrow{
    font-size: 1.725rem;
    bottom: .25rem;
  }
  .arrow:active{
    font-size: 1.55rem;
  }
}
@media screen and (min-width: 2200px){
  .next, .prev{
    top: 125px;
    width: 1.825rem;
    height: 1.825rem;
  }
  .next{
    right: 24px;

  }
  .prev{
    left: 24px;
  }
  .prev:active,
  .next:active{
    width: 1.65rem;
    height: 1.65rem;
  }
  .forecast__widget{
    padding: 2.275rem 3.25rem 0 3.25rem;
    height: 755px;
  }
  .forecast{
    max-height:675px;
  }
  .forecast__title{
    font-size: 1.24rem;
  }
  .forecast__container{
    max-width: 290px;
  }
  .forecast__item{
    font-size: 1.22rem;
  }
  .temperature__stages-swiper{
    width: 290px;
  }
  .temperature__stages-box{
    height: 515px;
  }
  .temperature__stages{
    width: 280px;
  }
  .temperature__stages-icon, .temperature__stages-day-name
  {
    font-size: 1.24rem;
  }
  .temperature__hot-cold{
    font-size: 1.45rem;
  }
  .arrow{
    font-size: 1.75rem;
    bottom: .3rem;
  }
  .arrow:active{
    font-size: 1.55rem;
  }
}
