<div class="registration__container">
  <h2 class="title">Registration</h2>
  <form class="registration__form" [formGroup]="registerFormGroup">
    <div class="inputs__box">
      <div class="username__input-box">
        <h2>Username:</h2>
        <input class="login-register-form-inputs" type="text" name="text" id="text"
               [class.is-invalid]="accountLogin?.invalid && accountLogin?.touched"
               placeholder="Login your login..."
               formControlName="accountLogin">
        <div *ngIf="(accountLogin?.invalid && accountLogin?.touched) || accountEmail?.dirty">
          <small *ngIf="accountLogin?.errors?.required" class="text-danger">Username is required</small>
          <small *ngIf="accountLogin?.errors?.pattern" class="text-danger">This username is not available</small>
        </div>
      </div>
      <div class="email__input-box">
        <h2>Email:</h2>
        <div class="form-outline mb-4">
          <input class="fomr-control" type="email" name="email" id="email-account-register"
                 [class.is-invalid]="accountEmail?.invalid && accountEmail?.touched"
                 formControlName="accountEmail">
          <label class="form-label" for="email-account-register">Login your login...</label>
        </div>
        <div *ngIf="(accountEmail?.invalid && accountEmail?.touched) || accountEmail?.dirty">
          <small *ngIf="accountEmail?.errors?.required" class="text-danger">Email is required</small>
          <small *ngIf="accountEmail?.errors?.pattern" class="text-danger">Please provide a valid email address</small>
        </div>
      </div>
      <div class="password__input-box">
        <h2>Password:</h2>
        <input class="login-register-form-inputs"  type="password" name="password" id="password"
               [class.is-invalid]="accountPassword?.invalid && accountPassword?.touched"
               placeholder="Enter your password..."
               formControlName="accountPassword">
        <div *ngIf="(accountPassword?.invalid && accountPassword?.touched) || accountPassword?.dirty">
          <small *ngIf="accountPassword?.errors?.required" class="text-danger">Password is required</small>
          <small *ngIf="accountPassword?.errors?.pattern" class="text-danger">Please provide a valid email address</small>
        </div>
      </div>
    </div>
    <button class="button-login-register">Register</button>
  </form>
</div>
<svg [routerLink]="['/']" class="svg__arrow" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g transform="rotate(180 12 12)"><path fill="white" d="m12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8l-8-8z"/></g></svg>
