.registration__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}
.title{
  font-size: 2.1rem;
  letter-spacing: 4px;
}
h2{
  font-size: 1.4rem;
}
.registration__form{
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  justify-content: center;
  align-items: center;
}
.inputs__box{
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.username__input-box, .email__input-box, .password__input-box{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.svg__arrow{
  position: absolute;
  top: 50px;
  left: 30px;
  width: 46px;
  height: 46px;
  fill: white;
}
