.login__container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88,88,88, 0.55);
  backdrop-filter: blur(4px);

}
.white__shape {
  position: relative;
  z-index: 101;
  width: 0;
  height: 0;
}
.white__shape:before,
.white__shape:after {
  z-index: 101;
  position: absolute;
  opacity: 0.8;
  content: "";
  top: -16px;
  bottom: 0;
  left: 16px;
  right: 0;
  width: 42px;
  height: 82px;
  background-color: white;
  border-radius: 100px 100px 100px 100px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.svg__icon {
  width: 52px;
  height: 52px;
  z-index: 101;
  margin-bottom: .28rem;
}
.form-group{
  z-index: 101;
  margin-bottom: .83rem!important;
}
label{
  z-index: 101;
  font-size: .775rem!important;
  margin-bottom: .36rem!important;
  color: var(--text-color);
}
.form-control, input{
  z-index: 101;
  width: 88px!important;
  height: 22px!important;
  font-size: .575rem!important;
  border-radius: .7rem!important;
}
.svg__arrow{
  position: absolute;
  top: 30px;
  left: 20px;
  width: 32px;
  height: 32px;
  fill: white;
  cursor: pointer;
  z-index: 101;
}
.login__form{
  z-index: 101;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 0;
}
.center__alert{
  display: flex;
  justify-content: center;
  margin-top: .3rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
/*Icons*/
.wrapper {
  z-index: 101;
  display: inline-flex;
  list-style: none;
  margin: .65rem 0 0;
}
.wrapper .icon {
  z-index: 101;
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 14px;
  margin: 6px 10px 0;
  width: 20px;
  height: 20px;
  font-size: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  z-index: 101;
  position: absolute;
  top: 0;
  font-size: .52rem;
  background: #ffffff;
  color: #ffffff;
  padding: 1px 5px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  z-index: 101;
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  z-index: 101;
  top: -23px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  z-index: 101;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  z-index: 101;
  background: #1877F2;
  color: #ffffff;
}
.wrapper .google:hover,
.wrapper .google:hover .tooltip,
.wrapper .google:hover .tooltip::before {
  z-index: 101;
  background: #ea4335;
}
.fa-google {
  z-index: 101;
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.forgot-password__button{
  color: black;
  font-size: .6rem;
  position: absolute;
  left: 20px;
  bottom: -5px;
  font-weight: bold;
  z-index: 101;
  cursor: pointer;
}
/*Squares*/
.squares{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.squares li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: moves-squares-animation-none-color 25s linear infinite;
  bottom: -150px;
  z-index: 100;
}
.squares li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.squares li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.squares li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.squares li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.squares li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.squares li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.squares li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.squares li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
@keyframes moves-squares-animation-none-color {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .white__shape:before,
  .white__shape:after{
    width: 36px;
    height: 76px;
  }
  .svg__icon {
    width: 46px;
    height: 46px;
  }
  label{
    font-size: .7rem!important;
    margin-bottom: .29rem!important;
  }
  .form-group{
    margin-bottom: .76rem!important;
  }
  .form-control, input{
    width: 83px!important;
    height: 21px!important;
    font-size: .525rem!important;
  }
  .svg__arrow{
    width: 30px;
    height: 30px;
  }
  .wrapper {
    margin-top: .6rem;
  }
  .wrapper .icon {
    padding: 13px;
    margin: 5px 10px 0;
    width: 18px;
    height: 18px;
  }
  .wrapper .tooltip {
    font-size: .5rem;
  }
  .wrapper .icon:hover .tooltip {
    top: -20px;
  }
  .wrapper .tooltip::before {
    height: 5px;
    width: 5px;
  }
  .forgot-password__button{
    font-size: .55rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .white__shape:before,
  .white__shape:after{
    width: 48px;
    height: 88px;
  }
  .svg__icon {
    width: 58px;
    height: 58px;
    margin-bottom: .3rem;
  }
  label{
    font-size: .85rem!important;
    margin-bottom: .43rem!important;
  }
  .form-group{
    margin-bottom: .9rem!important;
  }
  .form-control, input{
    width: 95px!important;
    height: 24px!important;
    font-size: .6rem!important;
  }
  .svg__arrow{
    width: 34px;
    height: 34px;
  }
  .wrapper {
    margin-top: .675rem;
  }
  .wrapper .icon {
    padding: 15px;
    margin: 7px 11px 0;
    width: 26px;
    height: 26px;
    font-size: .75rem;
  }
  .wrapper .tooltip {
    font-size: .553rem;
    padding: 2px 6px;
  }
  .wrapper .icon:hover .tooltip {
    top: -25px;
  }
  .forgot-password__button{
    font-size: .625rem;
  }
}
@media screen and (min-width: 767px) {
  .white__shape:before,
  .white__shape:after{
    width: 56px;
    height: 96px;
    top: -14px;
  }
  .svg__icon {
    width: 66px;
    height: 66px;
    margin-bottom: .38rem;
  }
  label{
    font-size: .875rem!important;
    margin-bottom: .5rem!important;
  }
  .form-group{
    margin-bottom: .97rem!important;
  }
  .form-control, input{
    width: 100px!important;
    height: 25px!important;
    font-size: .625rem!important;
  }
  .svg__arrow{
    width: 36px;
    height: 36px;
  }
  .wrapper {
    margin-top: .7rem;
  }
  .wrapper .tooltip::before {
    height: 7px;
    width: 7px;
  }
  .wrapper .icon {
    padding: 16px;
    margin: 9px 12px 0;
    width: 28px;
    height: 28px;
    font-size: .78rem;
  }
  .wrapper .tooltip {
    font-size: .6rem;
    padding: 3px 7px;
  }
  .wrapper .icon:hover .tooltip {
    top: -28px;
  }
  .forgot-password__button{
    font-size: .675rem;
  }
}
/* For large devices */
@media screen and (min-width: 1040px) {
  .white__shape:before,
  .white__shape:after{
    width: 58px;
    height: 98px;
  }
  .svg__icon {
    width: 68px;
    height: 68px;
    margin-bottom: .42rem;
  }
  label{
    font-size: .965rem!important;
    margin-bottom: .62rem!important;
  }
  .form-group{
    margin-bottom: 1.07rem!important;
  }
  .form-control, input{
    width: 105px!important;
    height: 26px!important;
    font-size: .65rem!important;
  }
  .svg__arrow{
    width: 38px;
    height: 38px;
  }
  .wrapper {
    margin-top: .725rem;
  }
  .wrapper .tooltip::before {
    height: 8px;
    width: 8px;
  }
  .wrapper .icon {
    margin: 10px 13px;
    padding: 17px;
    width: 32px;
    height: 32px;
    font-size: .84rem;
  }
  .wrapper .tooltip {
    font-size: .6rem;
    padding: 4px 8px;
  }
  .wrapper .icon:hover .tooltip {
    top: -30px;
  }
  .forgot-password__button{
    font-size: .7rem;
    bottom: 0;
    left: 20px;
  }
}
@media screen and (min-width: 1600px){
  .white__shape:before,
  .white__shape:after{
    width: 60px;
    height: 100px;
  }
  .svg__icon {
    width: 70px;
    height: 70px;
    margin-bottom: .48rem;
  }
  label{
    font-size: .985rem!important;
    margin-bottom: .64rem!important;
  }
  .form-group{
    margin-bottom: 1.17rem!important;
  }
  .form-control, input{
    width: 110px!important;
    height: 27px!important;
    font-size: .675rem!important;
  }
  .wrapper {
    margin-top: .75rem;
  }
  .wrapper .icon {
    margin: 12px 14px 0;
  }
  .svg__arrow{
    width: 40px;
    height: 40px;
  }
  .forgot-password__button{
    font-size: .75rem;

  }
}

