<div class="login__avatar-part">
  <div class="menu__icons">
    <div class="icon__choice-box" [style.cursor]="showMenu ? 'pointer' : 'auto'" (click)="showMenu ? changeAvatar(iconAstronaut.src, astronautBox) : null" #astronautBox>
      <img class="icon__choice" [src]="astronautIconPath" #iconAstronaut>
    </div>
    <div class="icon__choice-box" [style.cursor]="showMenu ? 'pointer' : 'auto'" (click)="showMenu ? changeAvatar(iconBuilder.src, builderBox) : null" #builderBox>
      <img class="icon__choice" [src]="builderIconPath" #iconBuilder>
    </div>
    <div class="icon__choice-box active__box" [style.cursor]="showMenu ? 'pointer' : 'auto'" (click)="showMenu ? changeAvatar(iconDeveloper.src, developerBox) : null" #developerBox>
      <img class="icon__choice" [src]="developerIconPath" #iconDeveloper>
    </div>
    <div class="icon__choice-box" [style.cursor]="showMenu ? 'pointer' : 'auto'" (click)="showMenu ? changeAvatar(iconBusinessman.src, businessmanBox) : null" #businessmanBox>
      <img class="icon__choice" [src]="businessmanIconPath" #iconBusinessman>
    </div>
  </div>
  <img class="avatar__icon" [src]="isLoggedIn ? userLogged : avatarIconPath">
  <div class="user__greeting-box">
    <h2 *ngIf="!isEditMode">Hello</h2>
    <p *ngIf="!isEditMode">{{ username }}</p>
    <img class="icon__edit" [src]="editIconPath" *ngIf="!isEditMode else editWindow" (click)="switchEditMode()">
    <ng-template #editWindow>
      <form class="change-username__form" [formGroup]="changeUsernameFormGroup" (ngSubmit)="changeUsername()">
        <div class="form-group">
          <label class="font-weight-normal" for="usernameInput">Username:</label>
          <input maxlength="20" type="text" class="form-control" id="usernameInput" placeholder="Username" formControlName="username">
          <div class="center__alert" *ngIf="(changeUsernameFormGroup.controls['username'].touched) || changeUsernameFormGroup.controls['username'].dirty">
            <small *ngIf="changeUsernameFormGroup.controls['username'].errors?.required" class="text-danger">Username is required</small>
          </div>
        </div>
        <div class="buttons__container">
          <img class="icon__accept" [src]="acceptIconPath" (click)="changeUsername()">
          <img class="icon__decline" [src]="declineIconPath" (click)="switchEditMode()">
        </div>
      </form>
    </ng-template>
  </div>
  <button (click)="logout()" class="button-login-register">Logout</button>
  <img (click)="showHideMenu()" class="icon__settings" [src]="settingsIconPath">
  <ul class="squares">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>


