<div class="login__avatar-part">
  <div class="menu__icons">
    <div class="icon__choice-box" [style.cursor]="showMenu ? 'pointer' : 'auto'" (click)="showMenu ? changeAvatar(iconAstronaut.src, astronautBox) : null" #astronautBox>
      <img class="icon__choice" [src]="astronautIconPath" #iconAstronaut>
    </div>
    <div class="icon__choice-box" [style.cursor]="showMenu ? 'pointer' : 'auto'" (click)="showMenu ? changeAvatar(iconBuilder.src, builderBox) : null" #builderBox>
      <img class="icon__choice" [src]="builderIconPath" #iconBuilder>
    </div>
    <div class="icon__choice-box active__box" [style.cursor]="showMenu ? 'pointer' : 'auto'" (click)="showMenu ? changeAvatar(iconDeveloper.src, developerBox) : null" #developerBox>
      <img class="icon__choice" [src]="developerIconPath" #iconDeveloper>
    </div>
    <div class="icon__choice-box" [style.cursor]="showMenu ? 'pointer' : 'auto'" (click)="showMenu ? changeAvatar(iconBusinessman.src, businessmanBox) : null" #businessmanBox>
      <img class="icon__choice" [src]="businessmanIconPath" #iconBusinessman>
    </div>
  </div>
  <img class="avatar__icon" [src]="isLoggedIn ? userLogged : avatarIconPath">
  <div class="user__greeting-box">
    <h2>Hello</h2>
    <p>{{ username }}</p>
  </div>
  <button (click)="logout()" class="button-login-register">Logout</button>
  <img (click)="showHideMenu()" class="edit__icon" [src]="editIconPath">
</div>


