<header class="header" id="header">
  <nav class="nav">
    <div class="search-box" [style.cursor]="'auto'">
      <button class="search__btn" [disabled]="!isLoggedIn" [style.cursor]="'auto'">
        <i class="ri-search-line" (click)="!isLoggedIn ? showError() : null" [style.cursor]="!isLoggedIn ? 'not-allowed' : 'pointer'"></i>
      </button>
      <input type="text" class="input__search"  placeholder="Type city..." [(ngModel)]="inputValueCity" [disabled]="!isLoggedIn" [style.cursor]="'auto'" (keydown.enter)="getLocalization()">
      <img class="location__icon" [src]="locationIconPath" (mousedown)="test($event)" (mouseup)="test($event)">
    </div>
    <div class="nav__title">
      <h2>{{ locationInfo?.name || 'Katowice' }}</h2>
      <p>{{this.localTimeForCurrentCity + ' ' + (isAmHour ? 'AM' : 'PM')}}</p>
    </div>
    <div class="nav__toggle">
      <button id="menu__btn" [style.cursor]="'auto'">
        <i class="ri-align-justify" [ngClass]="alertCondition ? 'disabled' : 'enabled'"  (click)="alertCondition ? showError() : showMenu()"></i>
      </button>
    </div>
  </nav>
</header>
<div class="nav__menu" id="nav-menu">
  <ul class="nav__list">
    <li class="nav__item" >
      <a href="#home" class="nav__link active-link" (click)="closeMenu()">Home</a>
    </li>
    <li class="nav__item">
      <a href="#forecast" class="nav__link" (click)="closeMenu()">Forecast</a>
    </li>
    <li class="nav__item">
      <a href="#wind" class="nav__link" (click)="closeMenu()">Wind</a>
    </li>
    <li class="nav__item">
      <a href="#precipitation" class="nav__link" (click)="closeMenu()">Precipitation</a>
    </li>
    <li class="nav__item">
      <a href="#sun-moon" class="nav__link" (click)="closeMenu()">Sun-Moon</a>
    </li>
  </ul>
  <div class="nav__close" id="nav-close" (click)="closeMenu()">
    <i class="ri-close-line"></i>
  </div>
</div>
