.header
{
  width: 100%;
  background-color:rgb(105,105,105, 0.35);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
.nav
{
  display: flex;
  justify-content: space-between;
  padding: .77rem .55rem;
  align-items: center;
}
.nav__title
{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .725rem;
  color: var(--text-color);
  letter-spacing: 2px;
  row-gap: .25rem;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__search{
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 0 27px 0 37px;
  font-size: .84rem;
  letter-spacing: 2px;
  outline: none;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  background-color: transparent;
  color:#fff;
  font-family: var(--body-font);
  font-weight: var(--font-super-light)
}
.input__search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: .67rem;
  letter-spacing: 2px;
  font-weight: 100;
}
.search__btn{
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 1.07rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  left: 0;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
}
.search__btn:focus ~ .input__search {
  width: 142px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input__search:focus{
  width: 142px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.location__icon{
  cursor: pointer;
  right: 5px;
  width: 18px;
  height: 18px;
  position: absolute;
  visibility: hidden;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.search__btn:focus ~ .location__icon, .input__search:focus ~ .location__icon{
  visibility: visible;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.nav__toggle button{
   display:flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   width: 40px;
   height: 40px;
 }
.nav__toggle button i {
  font-size: 1.07rem;
  color: var(--text-color);
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.scroll-header {
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 2px 4px #909090;
}
.nav__menu {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(96px);
  transition: .3s;
  z-index: 102;
}
.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}
.nav__link {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: var(--font-medium);
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover {
  color: aquamarine;
}
.nav__close {
  font-size: 2rem;
  color: var(--text-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
/* Show menu */
.show-menu {
  right: 0;
}
/* Active link */
.active-link {
  color: aquamarine;
}
.hidden{
  display: none;
}
.disabled{
  cursor: not-allowed!important;
}
.enabled{
  cursor: pointer !important;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .nav
  {
    padding: .7rem .5rem;
  }
  .nav__title
  {
    font-size: .625rem;
  }
  .input__search{
    height: 40px;
    width: 40px;
    padding: 0 27px 0 35px;
    font-size: .725rem;
  }
  .search__btn:focus ~ .input__search, .input__search:focus{
    width: 115px;
  }
  .input__search::placeholder{
    font-size: .545rem;
  }
  .location__icon{
    width: 16px;
    height: 16px;
  }
  .nav__toggle button i, .search__btn{
    font-size: 1.02rem;
  }
  .nav__link {
    font-size: 1rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px){
  .nav{
    padding: .75rem .67rem;
  }
  .nav__title{
    font-size: .75rem;
  }
  .input__search{
    font-size: .85rem;
    font-weight: var(--font-light);
  }
  .input__search::placeholder{
    font-size: .675rem;
  }
  .search__btn:focus ~ .input__search, .input__search:focus{
    width: 145px;
  }
  .nav__toggle button i, .search__btn{
    font-size: 1.1rem;
  }
  .nav__link {
    font-size: 1.2rem;
  }
  .location__icon{
    width: 19px;
    height: 19px;
  }
}
@media screen and (min-width: 767px) {
  .nav{
    padding: .77rem .67rem;
  }
  .nav__title{
    font-size: .77rem;
  }
  .input__search{
    font-size: .875rem;
    font-weight: var(--font-light);
  }
  .input__search::placeholder{
    font-size: .675rem;
  }
  .search__btn:focus ~ .input__search, .input__search:focus{
    width: 155px;
  }
  .nav__toggle button i, .search__btn{
    font-size: 1.15rem;
  }
  .nav__link {
    font-size: 1.225rem;
  }

}
/* For large devices */
@media screen and (min-width: 1040px) {
  .nav{
    padding: .82rem .7rem;
  }
  .nav__title{
    font-size: .8rem;
  }
  .input__search{
    padding: 0 27px 0 40px;
    font-size: .925rem;
    font-weight: var(--font-light);
  }
  .input__search::placeholder{
    font-size: .725rem;
  }
  .search__btn:focus ~ .input__search, .input__search:focus{
    width: 160px;
  }
  .nav__toggle button i, .search__btn{
    font-size: 1.2rem;
  }
  .location__icon{
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1600px){
  .nav{
    padding: .9rem 1rem;
  }
  .nav__title{
    font-size: .825rem;
  }
  .input__search{
    font-size: .935rem;
    font-weight: var(--font-light);
  }
  .input__search::placeholder{
    font-size: .735rem;
  }
  .search__btn:focus ~ .input__search, .input__search:focus{
    width: 162px;
  }
}

