<header class="header" id="header">
  <nav class="nav">
    <div class="search-box" [style.cursor]="'auto'">
      <button class="search__btn" [disabled]="!isLoggedIn" [style.cursor]="'auto'" >
        <i class="ri-search-line" (click)="!isLoggedIn ? showError() : null" [style.cursor]="!isLoggedIn ? 'not-allowed' : 'pointer'"></i>
      </button>
      <input type="text" class="input__search"  placeholder="Type city..." [(ngModel)]="inputValueCity" [disabled]="!isLoggedIn" [style.cursor]="'auto'" (keydown.enter)="getLocalization()">
      <img alt="" class="location__icon" [src]="locationIconPath" (mousedown)="holdElementOnView($event)" (click)="getCityFromCoords()">
    </div>
    <div class="nav__title">
      <h2>{{ locationInfo?.name }}</h2>
      <p>{{this.localTimeForCurrentCity + ' ' + (isAmHour ? 'AM' : '')}}</p>
    </div>
    <div class="nav__toggle">
      <button id="menu__btn" [style.cursor]="'auto'">
        <i class="ri-align-justify" [ngClass]="alertCondition ? 'disabled' : 'enabled'"  (click)="alertCondition ? showError() : showMenu()"></i>
      </button>
    </div>
  </nav>
</header>
<div class="nav__menu" id="nav-menu">
  <ul class="nav__list">
    <li class="nav__item">
      <a id="home__option" class="nav__link active-link" (click)="scrollToElement('home', home)" #home>Home</a>
    </li>
    <li class="nav__item">
      <a id="forecast__option" class="nav__link" (click)="scrollToElement('forecast', forecast)" #forecast>Forecast</a>
    </li>
    <li class="nav__item">
      <a id="wind__option" class="nav__link" (click)="scrollToElement('wind', wind)" #wind>Wind</a>
    </li>
    <li class="nav__item">
      <a id="precipitation__option" class="nav__link" (click)="scrollToElement('precipitation', precipitation)" #precipitation>Precipitation</a>
    </li>
    <li class="nav__item">
      <a id="sun-moon__option" class="nav__link" (click)="scrollToElement('sun-moon', sunMoon)" #sunMoon>Sun-Moon</a>
    </li>
  </ul>
  <div class="nav__close" id="nav-close" (click)="closeMenu()">
    <i class="ri-close-line"></i>
  </div>
</div>
